[2020-05-08 15:06] straker commented on #2225
Thanks for the issue. We'll have to build an exception into the check for `checkbox[role=switch]`

[2020-05-08 17:57] straker commented on #2222
Putting a note here for later: The issue seems to be caused when we `visuallySort` the element stack. Our algorithm looks at the DOM position of the nodes and inverse sorts them based on DOM order. The issue is when the nested `div#mainContent > div` is compared against the `div#mainContent + div` element, the nested div returns as coming before in the DOM order so is sorted after the other div.

[2020-05-10 04:29] punisher49 commented on #1977
I thought that it was my app's  bug somewhere

[2020-05-10 12:09] nvaghari commented on #1977
I uninstalled Pop-up Blocker extension and every thing goes well

[2020-05-10 18:05] ArsDankeZik commented on #1977
Same in Opera

[2020-05-11 01:14] solmalisani commented on #1977
I uninstalled AdBlocker and the problem disappear

[2020-05-11 02:26] Lemon-jie commented on #1977
Many thanks

[2020-05-11 02:27] Lemon-jie commented on #1977
good

[2020-05-11 12:15] dylanb commented on #1130
Additional concern https://codepen.io/stevef/post/exceedingly-short-note-on-css-content-as-accessible-name

[2020-05-11 15:08] Mottie opened #2227 "aXe Coconut issue for rule: Elements in the focus order need a role appropriate for interactive content"
While performing some testing on a page with lots of hidden content (dropdown menus), I encountered an issue where axe is reporting a focus error with it's own highlight tool.

![Screen Shot 2020-05-11 at 10 06 50 AM](https://user-images.githubusercontent.com/136959/81577654-53837b00-936f-11ea-9458-210457c939a2.png)

[2020-05-12 12:11] damianpoole commented on #1785
This would be really handy for us working with Salesforce's lightning web components. We have this scenario which I'm trying to resolve.

_Our component template_
[code]

The `lightning-icon` component renders something along the lines of.
_lightning-icon_
[code]

This means my templates `button` does have discernible text and I have validated that using the axe extension in a live environment.

N

[2020-05-12 12:47] erik-deque commented on #2227
Thanks for reporting this issue @Mottie. Do you have any steps or instructions to help us reproduce the error?

[2020-05-12 12:52] Mottie commented on #2227
Unfortunately, I didn't see how the issue occurred, but I was testing a multi-step form built using [react-jsonschema-form](https://github.com/rjsf-team/react-jsonschema-form). So that highlight box may have be located in the footer content that did not update while I switched between page forms.

[2020-05-12 19:01] kellyannmcnamara01 opened #2228 "Confidential Privacy Question"
### Question:
I am working on a confidential site that only has access through a portal. I want to use your AXE tools locally/on the staging env to test accessibility but I need written confirmation that you don't pull the content of the sites. When I say content I mean the actual text people would read when they are viewing the site. The privacy policy isn't very clear about the actual content of

[2020-05-13 10:48] WilcoFiers commented on #2223
I'm actually considering pulling the aria-label(ledby) checks off this. For some reason those don't seem to work in Safari.

[2020-05-13 11:52] Diana1508 commented on #2224
Hi Straker,
Thanks for the responding. Here is the URL that always gives varied results for multiple runs on chrome browser same system and different systems.

https://www.abbott.com/careers.html

Regards,
Diana.

[2020-05-13 18:04] straker commented on #2224
I see what you mean. However I'm not seeing this problem in 3.5.2 and am consistently getting 9 violations back with the same number of nodes in each. Are you seeing the problem in 3.5.2?

<img width="548" alt="Screen Shot 2020-05-13 at 12 02 15 PM" src="https://user-images.githubusercontent.com/2433219/81847972-a5640680-9511-11ea-9723-80aa8f6a6783.png">

[2020-05-13 20:34] robfentress commented on #1020
So, I just want to make sure I'm understanding things correctly: You are saying that the phrase, "elements are nested according to their specifications" does _not_ mean that an element needs to have any required children or parents as defined in the the markup language's specification, but, _rather_, that it is addressing the case where you might have the following:
[code]
Is that what you're posi

[2020-05-14 09:52] smth commented on #2222
In case you want some more examples, my [homepage ](https://smth.uk/) seems to have 37 false positives :joy:

[2020-05-14 15:05] Diana1508 commented on #2224
I raised the above issue with 3.5.1, today I tried to upgrade to 3.5.2 but, the axe core version got updated to 3.5.3. Below are the run observations done on 3.5.3
**Chrome Observations:**
1. Add-on run on same machine multiple times is rendering same count of violations, Need Reviews, Rejected but the Best Practice is varying.
2. Add-on run on different machine is rendering a huge variation of re

[2020-05-14 16:32] #2220 closed

[2020-05-14 17:01] WilcoFiers commented on #2210
We're doing some testing. I suspect you are right, and that user-scalable only impacts resize if it's on the top window, not when it is used in iframes. If so we'll fix it. Thanks for reporting!

[2020-05-15 14:38] scurker commented on #1977
Small update: I randomly came across [Chromium Bug 1052872](https://bugs.chromium.org/p/chromium/issues/detail?id=1052872) as it appears this was an issue introduced in Chrome. It appears they were previously not reporting sourcemap issues, but that combined with chrome not loading `chrome-extension://` urls introduced the problem.

[2020-05-15 14:56] patrickhulce commented on #2178
This also happens on https://www.etsy.com/ using just the axe extension without Lighthouse involved.

[2020-05-15 16:57] gretencord opened #2236 "<aside> aria-labelledby a child <header> does not make it a unique landmark"
Expectation: `<aside>` labeled by child `<header>` should pass. This fails:
[code]
Replacing `<header>` with `<div>` or `<aside>` with `<section`> passes. Using `aria-label="something"` instead of `aria-labelledby` also passes.

Actual: [`landmark-unique`](https://dequeuniversity.com/rules/axe/3.5/landmark-unique?application=AxeChrome) rule is thrown: "Landmarks must have a unique role or role/lab

[2020-05-15 18:29] naseem6270 opened #2237 "Getting error "An error occurred" while trying to analyze the site in Chrome plug in"
Hey, I was just trying to analyze one of my client sites(Can't provide the URL) through the Axe-Core Chrome plug-in but getting an error "An error occurred. Error: Could not establish a connection. Receiving end does not exist."

I tried the same in Firefox where I was able to run the same test

Actually I was trying to run the automated test using Axe-core in Java as the programming language but

[2020-05-15 18:31] naseem6270 commented on #2237
More information can be found at https://stackoverflow.com/questions/61818289/getting-error-org-openqa-selenium-javascriptexception-javascript-error-eval-i

[2020-05-16 00:27] Arif-Malik-N commented on #1977
facing same error

[2020-05-17 06:01] jahziel56 commented on #1977
same problem :(

[2020-05-17 07:52] padmavemulapati commented on #2188
Verified with latest axe-core code based-
using the configure script ' axe.configure({
  rules: [{
    id: 'custom-rule',
    all: ['custom-check']
  }],
  checks: [{
    id: 'custom-check',
    evaluate: 'region-evaluate'
  }]
}); `  , can verify that it doesn't fail. Then  find a page (region rule - it was failing, the custom-rule should fail as well with the same node),  that has a violation an

[2020-05-17 18:00] dijiflex commented on #1977
Thanks @scurker

[2020-05-17 18:01] faroelrozi commented on #1977
Dapatkan Outlook untuk Android<https://aka.ms/ghei36>
________________________________
From: FELIX OMUOK <notifications@github.com>
Sent: Monday, May 18, 2020 1:00:42 AM
To: dequelabs/axe-core <axe-core@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [dequelabs/axe-core] [extension] DevTools failed to load SourceMap: Could not load content for browser-polyfill.js.ma

[2020-05-17 19:16] Ruqhaiya commented on #1977
This has worked for me -> https://stackoverflow.com/questions/35002087/disable-source-maps-in-chrome-devtools

[2020-05-18 07:22] malveujvala commented on #1175
Hi... I am also facing the same issue with the Axe-core integration with Java.  Currently, I am using the below dependency in POM.xml file

	<dependency>
			<groupId>com.deque</groupId>
			<artifactId>axe-selenium</artifactId>
			<version>3.0</version>
		</dependency>

Any plan to fix this issue with Java integration as well? I can't update the dependency to 3.5. Any workaround which I can use to

[2020-05-18 07:44] naseem6270 commented on #2237
I saw a similar issue is already logged
https://github.com/dequelabs/axe-core/issues/1175
https://github.com/dequelabs/react-axe/issues/54

Please close this ticket. Thanks and sorry for the inconvenience.

[2020-05-18 07:44] #2237 closed

[2020-05-18 12:52] padmavemulapati commented on #2222
Verified, color-contrast calculation for children elements (floated - which are div2 div3 in the following example:
`<div id="1" style="float: left; background: #000000; color: #fff;">
		<div id="2"><span id="target">whole picture</span></div>
		</div>
		<div id="3">
		<div id="4" style="background: #f2f2f2;">English</div>
		</div>;`
working as expected.
![image](https://user-images.githubusercont

[2020-05-18 14:34] padmavemulapati commented on #2225
Verified the issue, if we keep aria-cheked - true and i am nt seeing any failure But if this is the case atia-checked is not a mandatory I am still seeing the issue. @straker , is this fix pushed ?

[2020-05-18 16:37] WilcoFiers commented on #2236
Jup, you seem to be right. The issue is that axe-core still treats these header elements as landmarks; it shouldn't because they are a descendent of an aside element.

[2020-05-18 17:14] WilcoFiers commented on #2224
@Diana1508 Thanks for the response.

There are two things going on here in this page:

1. the Facebook iframe is throwing off results quite a bit. The content of that iframe changes, which means different results. If you use the axe Beta scope feature you can tell axe to ignore it. That is only available in Chrome though. In the testing we've done this is the cause for all the differences except f

[2020-05-18 20:24] straker commented on #2186
qa: create custom rule that overrides a current rule.id, then set `reviewOnFail` to true. Find a page that fails that rule and verify the rule instead returns as needs review:

[code]

[2020-05-18 21:23] erik-deque commented on #2228
When you say "AXE tools" are you referring to the free axe Chrome extension? No data is collected with the base analysis functionality.

Information may be collected when using advanced functionality that is part of axe beta.

[2020-05-19 07:25] ediblecode commented on #179
Looks like that [ARIA practices combox example has moved here](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html) for anyone reading this.

[2020-05-19 18:26] jeankaplansky commented on #2188
@straker: Any customer-facing docs in this?

[2020-05-19 18:28] jeankaplansky commented on #2222
@straker - is there anything here we need to address in the rule help page for this rule?

[2020-05-19 18:41] jeankaplansky commented on #2164
Taking up conversation with @paulbohman re: out-of-date index return results.

[2020-05-20 14:12] straker commented on #2188
Ya, there's going to be a whole lot of new docs for this. This is part of the custom rules overhaul for 4.0. Probably best to talk with Wilco on our current plans and direction for 4.0.

[2020-05-20 14:13] straker commented on #2222
@jeankaplansky Nope, we can close.

[2020-05-20 19:17] #2222 closed

[2020-05-21 00:36] kellyannmcnamara01 commented on #2228
Yes, Thank you

Cheers,
Kelly

On Mon, May 18, 2020 at 5:23 PM erik-deque <notifications@github.com> wrote:

[2020-05-21 09:34] WilcoFiers opened #2243 "Organise the lookup table"
The ARIA lookup table has become massive. It is over 2000 lines long at this point. We should split that file up, put each table into its own file instead.

[2020-05-21 10:41] padmavemulapati commented on #2225
No failure seeing for aria-attributes even not passing aria-checked for role=switch.
![image](https://user-images.githubusercontent.com/47409579/82551370-ae8e4c80-9b7d-11ea-8ca6-366383412022.png)

[2020-05-21 12:05] erik-deque commented on #2228
Question answered.

[2020-05-21 12:05] #2228 closed

[2020-05-21 12:10] erik-deque commented on #1959
The sign-in link has been updated to never point at the sign-up page. This has been resolved.

[2020-05-21 12:10] #1959 closed

[2020-05-21 12:21] erik-deque commented on #1981
This issue has been resolved.

[2020-05-21 12:21] #1981 closed

[2020-05-21 12:24] erik-deque commented on #2227
This issue will be resolved in the 4.5.1 release of the extension.

[2020-05-21 12:24] #2227 closed

[2020-05-22 03:27] padmavemulapati commented on #2217
Verified with the fix - Not seeing Parent- children failures for `ui` `li` elements even with `role=presentation | none `
![image](https://user-images.githubusercontent.com/47409579/82628339-2f932580-9c0a-11ea-895f-0856f133e774.png)

[2020-05-22 08:33] lim-95 commented on #1977
I removed Zotero chrome extension and the error gone. I think maybe some chrome extension crash with polyfill.js.map

[2020-05-22 14:19] padmavemulapati commented on #2193
devTask

[2020-05-22 14:22] padmavemulapati commented on #2191
devTask

[2020-05-22 14:26] padmavemulapati commented on #2192
devTask

[2020-05-22 14:35] padmavemulapati commented on #2185
devTask

[2020-05-22 16:39] padmavemulapati opened #2248 "Document correction: API Name: axe.getRules section need correction"
https://github.com/dequelabs/axe-core/blob/master/doc/API.md
API document. wcag2a should not be mapped with WCAG2.1 Level A. Same issue with other tag wcag2aa
![image (30)](https://user-images.githubusercontent.com/47409579/82689757-9e0ecc80-9c78-11ea-98a4-a2ce3062cd74.png)

[2020-05-22 17:35] jeankaplansky commented on #2185
no rule help required.

[2020-05-22 17:35] #2185 closed

[2020-05-22 22:53] devniel commented on #20
Hello, I have a related problem like the last message, the axe extension is returning error for nodes with `role="graphics-document"`, I'm getting the `ARIA roles used must conform to valid values` issue. Is it something not supported ?. Thank you.

[2020-05-25 06:51] padmavemulapati commented on #1891
@straker , can you please take a look into this asap

[2020-05-25 13:38] StommePoes commented on #20
Hi @devniel that role does not appear to be an authorable role. If I go by this list: https://www.w3.org/WAI/PF/aria/roles notice it's not listed. So I think it makes sense that aXe would complain; this doesn't look like a valid role --for web developers to use--.

`graphics-document` appears to be an internal AAM-used role for browsers to know where to expose things. SVGs have been voted to be gr

[2020-05-25 14:00] weboverhauls commented on #20
Here's the `graphics-document` role from the WAI-ARIA Graphics Module specification (Oct 2018), which has very limited browser/AT support as far as I know.
https://www.w3.org/TR/graphics-aria-1.0/#role_definitions

[2020-05-25 15:49] mohanraj-r opened #2250 "Documentation: Number of WCAG 2.0 Level A rules in axe-core exceeds the spec"
Expectation: The number of WCAG 2.0 Level A rules in [axe-core/rule-descriptions.md](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md)
be less than or equal to the number as specified in [Web Content Accessibility Guidelines (WCAG) 2.0](https://www.w3.org/WAI/GL/WCAG20/)

Actual: The number of rules tagged `wcag2a` in [axe-core/rule-descriptions.md](https://github.com/de

[2020-05-25 15:55] mohanraj-r commented on #2250
In addition to the numbers in terms of coverage of WCAG rules by levels, is there a doc which lists the limitations of axe-core - describing what axe (or any automated accessibility testing tool) can't test for?

[2020-05-25 17:52] domoritz opened #2251 "Support SVG images in browser extension"
I've tried to test an SVG image with the browser extension.

Expectation: https://github.com/dequelabs/axe-core/issues/20 says that SVGs are supported but I cannot test an SVG image with the browser extension.

Actual: "Error: Could not establish connection. Receiving end does not exist."

<pre><code>
axe-core version: v4.5.1

Browser and Assistive Technology versions
Chrome 83.0.4103.61
</code></

[2020-05-25 21:24] jeankaplansky commented on #2192
no user-facing docs required.

[2020-05-25 21:24] #2192 closed

[2020-05-25 21:24] jeankaplansky commented on #2191
no user-facing rule help docs required.

[2020-05-25 21:24] #2191 closed

[2020-05-25 21:25] jeankaplansky commented on #2193
behind the scenes stuff; no user-facing rule help docs required.

[2020-05-25 21:25] #2193 closed

[2020-05-25 21:26] jeankaplansky commented on #2217
No user-facing rule help docs required.

[2020-05-25 21:26] #2217 closed

[2020-05-25 21:27] jeankaplansky commented on #2225
behind the scenes, no new rule help required.

[2020-05-25 21:27] #2225 closed

[2020-05-25 21:33] jeankaplansky commented on #2248
@padmavemulapati assigned me, but this is axe-core docs; @straker is the right person to fix this one.

[2020-05-26 01:01] dequerags commented on #1891
Hello,
Can we get this fixed as soon as possible? Inappropriate description of the issue is confusing & some of the reports that are being sent to client do have this issue. Some subject matter experts are correcting this manually during delivery but not always.

[2020-05-26 14:10] StommePoes commented on #20
While I've been quick to roll my eyes at developers complaining that "accessibility is hard", I'm absolutely willing to go to bat for developers who try to look up a [list of roles] (https://www.w3.org/TR/wai-aria-1.1/#x5-3-categorization-of-roles) only to miss completely that there are other lists of roles elsewhere that they would never have thought to go looking for. That whole "role" section a

[2020-05-26 15:06] straker commented on #2212
See also https://github.com/w3c/aria/issues/1270

[2020-05-26 19:41] straker commented on #2251
We've found that restarting the plugin and/or chrome helps resolve that issue. See https://github.com/dequelabs/axe-core/issues/1881.

[2020-05-26 19:49] straker commented on #2250
The problem is that axe rules do not map 1:1 to WCAG rules. We write rules in such a way as to give helpful remediation messages when things fail.

For example, `svg-img-alt`, `role-img-alt`, and `img-alt` rules each do the same thing (check for alternative text on image like elements) but each one has a different way to solve it. So we have 3 rules that all test WCAG 1.1.1.

As for the limitation

[2020-05-26 19:49] #2250 closed

[2020-05-26 20:03] domoritz commented on #2251
Hmm, that didn't work. Can you try the attached file?

[visualization.svg.zip](https://github.com/dequelabs/axe-core/files/4684743/visualization.svg.zip)

[2020-05-27 11:41] padmavemulapati commented on #2189
devTask

[2020-05-27 13:29] WilcoFiers commented on #1309
Closing this issue. This is unlikely to ever be necessary. The most likely SC where this could become ambiguous is if a 2.11.1 and a 2.1.11 ever get released. This is unlikely, as Principle 2 only has 5 guidelines (we would nave to get 6 new guidelines) and guideline 2.1 only has 4 success criterion. We'd need 6 new guidelines on 2.1, and 7 new success criteria on 2.1 for this to become an issue.

[2020-05-27 13:29] #1309 closed

[2020-05-28 15:24] padmavemulapati opened #2255 "DQU-Aria roles page - Impact should be 'serious' not 'critical'"
Steps:
http://qateam.dequecloud.com/comply/attest3.4.0testurls/fall_back_roles.html
Launch the URL
Analyze with attest - violation is showing as 'serious'.
On comply it is showing as 'critical'..
But on comply its expected because there we have stock rules upto axe-core3.4
On 3.5 release we have a update `https://github.com/dequelabs/axe-core/pull/1970` - with this it should display as 'serious'.

[2020-05-28 15:55] jeankaplansky commented on #2255
Fixed:
![image](https://user-images.githubusercontent.com/4044039/83164355-20184e80-a0da-11ea-802f-44e814055eb5.png)

[2020-05-28 15:55] #2255 closed

[2020-05-29 08:35] eps1lon opened #2257 "docs: Extend fallback role explainer"
Currently `<div role="none presentation" />` fails with the message
`Use only one role value, since fallback roles are unsupported in older browsers`

Expectation:
- List/link what axe considers "older browsers"
- what happens if they're unsupported?

Actual:
None of the above

Motivation:
I'd like to understand the rationale

Added in https://github.com/dequelabs/axe-core/pull/1970

[2020-05-29 15:00] straker commented on #2251
I'm sorry, for security reasons I can't just open a zip file. Is there some other means for me to look at it (a live site somewhere perhaps?)

[2020-05-29 15:20] straker commented on #1891
@dequerags would adding the word "must" fix the issue?

[2020-05-29 17:03] DavidMacDonald opened #2258 "role=presentation on <dl><dt><dl> should be allowed"
Currently this is flagging an error in AxeCore 3.5.3.

[2020-05-29 17:51] domoritz commented on #2251
Here is the SVG inline:

[code]

[2020-05-31 08:05] SebacicA11y commented on #686
hey @WilcoFiers, I'm trying to get my head around what I see as a discrepancy between https://dequeuniversity.com/rules/axe/3.2/audio-caption?application=msftAI and
https://www.w3.org/WAI/WCAG21/Techniques/general/G158.html

Deque Uni says "<audio> must have a captions <track>" but WCAG general 158 suggests a transcript on the website is sufficient.

What am I missing?

[2020-05-31 12:04] sadekbadredine commented on #1977
My DevTools can't load the iframe_handler.map chrome extension

[2020-05-31 12:45] aparna2198 commented on #1977
Go to the Graph.tsx file and do these changes remove the aggregate set attribute and paste this
"      **elem.setAttribute('aggregates', JSON.stringify({
        stock: 'distinctcount',
        top_ask_price: 'avg',
        top_bid_price: 'avg',
        timestamp: 'distinct count',
      }));**
"
this will work.

[2020-06-01 12:48] WilcoFiers commented on #2258
Thanks for reporting. You're absolutely correct. We fixed this for ul / ol recently. Hasn't been released yet. I'll make sure we go back to check it also works for dl.

[2020-06-01 14:53] WilcoFiers commented on #2257
Thank you for the suggestion. You can find the baseline axe-core uses here:
https://github.com/dequelabs/axe-core/blob/develop/doc/accessibility-supported.md

The reason axe-core doesn't report this is because we don't know. There is no list of all the different roles / attributes / other features in HTML and ARIA, across all major browsers and screen reader combinations. There is **some** data, s

[2020-06-01 14:53] #2257 closed

[2020-06-01 14:54] WilcoFiers commented on #2248
This is incorrect. WCAG 2.0 level A success criteria are required for WCAG 2.1 level A as well.

[2020-06-01 14:54] #2248 closed

[2020-06-01 14:55] WilcoFiers commented on #1961
Explored this internally. There are still quite a number of folks that rely on these tags, so we're not going to remove them.

[2020-06-01 14:55] #1961 closed

[2020-06-01 16:28] WilcoFiers commented on #2209
We should check for performance, if this adds a significant amount of time, make this an option that's off by default.

[2020-06-02 10:09] amukiria commented on #1977
Yes. this fixed the issue. thanks

[2020-06-02 16:28] jayjeetdas70 opened #2259 "DevTools failed to load SourceMap: Could not load content for http://127.0.0.1:8000/bundle.js.map(Using parcel-bundler)"
Using parcel-bundler
to bundle my files
it's reading my the index.js from bundle.js(Only console.log())

but unable to read the **impoted local modules**

![image](https://user-images.githubusercontent.com/42204681/83544754-059c0600-a51c-11ea-8d62-d21bbb0b1244.png)

![image](https://user-images.githubusercontent.com/42204681/83544485-958d8000-a51b-11ea-9826-58a82908658b.png)

![image](https://user

[2020-06-03 17:16] straker opened #2261 ""opacity: 0" elements are treated as visible"
`utils.isHidden` and `dom.isVisible` do not take into account opacity. As such, a node with `opacity: 0` is visible and not hidden according to axe.

[code]

This leads to some interesting results when a combox dropdown menu is "hidden" using opacity.

[code]

Color contrast runs on the nodes and reports incomplete for nodes that are not visible on screen.

[2020-06-03 17:17] straker opened #2262 "children of scroll regions with 0 height are considered visbile"
A scroll region with 0 height will not display any of the contents, but all children (and the scroll region itself) are considered visible and so all rules run against those nodes even when not visible on screen (especially color contrast).

[code]

This throws an error in color-contrast and returns as incomplete.

[2020-06-03 17:20] straker opened #2263 "should flag focusable elements inside a scroll region with height 0"
Focusable elements inside a scrollable region with 0 height should be flag as violations of Success Criterion 2.4.7: Focus Visible.

[code]

A secondary issue might be if a scrollable region with focusable content is less than 44px (height or width) we flag as a violation of Success Criterion 2.5.5 Target Size.

[2020-06-03 20:30] snv0 opened #2265 "JR"
Expectation: << Describe what you expect the product to do >>

Actual: << Describe what the product actually does >>

Motivation: << Describe why you want the behavior to be changed >>

<pre><code>
axe-core version: X.Y.Z
axe-webdriver, extension or other integration version: X.Y.Z

Browser and Assistive Technology versions

For Tooling issues:
- Node version: XX
- Platform:
</code></pre>

[2020-06-04 05:01] nonplus opened #2267 "Incorrect default background color in high-contrast-mode"
When [high-contrast mode is enabled on Microsoft Windows](https://support.microsoft.com/en-us/help/13862/windows-10-use-high-contrast-mode#:~:text=Turn%20high%20contrast%20mode%20on,colors%20on%20the%20screen%20change), browser background defaults to **black** rather than **white**.    Elements whose background stack doesn't have at least one `background-color` definition will calculate their cont

[2020-06-04 10:40] harryhmc opened #2268 ""The skip-link target should exist and be focusable" should be considered 'wcag21a' criteria"
When using WAVE to manually test our web app, we picked up on a violation (described in the title) that was not being caught by AXE -- or rather, was only being considered best practice. The rule in question represents the [WCAG success criterion 2.1.1](https://www.w3.org/TR/WCAG21/#x2-1-1-keyboard) and thus should be fulfilled in order to achieve a 2.1a / 2.1aa rating.

For the sake of reproducib

[2020-06-04 13:10] Sathish406 opened #2269 "displaying different violations count on chrome plugin and axe API"
1) I have installed axe-core plugin in my chrome machine.
2) Tested my live site URL with that chrome plugin it shows 0 violations.
3) I copied that URL Web site content and pasted inside a div in my angular application and tested the page in chrome plugin. Now it shows 4 violations.
4) I tested the above with axe-core API but now it shows only 3 violations.

P.S: for a confirmation i have done th

[2020-06-04 14:30] straker commented on #2269
It's hard to say what the issue could be without seeing the page in question, but adding another pages web contents to a `div` of another page might cause some violations with DOM structure.

[2020-06-04 14:31] #2259 closed

[2020-06-04 14:32] straker commented on #2265
@snv0 did you mean to open an issue here? Your comment is just the issue template.

[2020-06-04 14:43] WilcoFiers commented on #2267
Axe-core is not designed to accurately test in an environment where custom styles are applied. Custom styles can create any number of accessibility issues that axe-core could pick up. Practically too, I don't think it is possible for axe-core to detect the background color in high contrast mode.

That said, axe-core does lack rules to check for missing foreground and background colors. If the text

[2020-06-04 14:48] WilcoFiers opened #2270 "new rule: background-missing / text-color-missing"
To avoid problems in high contrast mode, elements where the text color is defined must have a fully opaque background. If it doesn't, the text may become difficult to read. Similarly if the background of an element is set, the text color also has to be set.

### Example Issue

[code]

[2020-06-04 14:56] WilcoFiers commented on #2268
@harryhmc if you have a look at the WCAG techniques for bypass blocks, you can see there are other ways to satisfy this success criterion for WCAG, including using landmarks and headings:
https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=241#bypass-blocks

This is the accepted interpretation of WCAG. I can't speak for why WAVE is stricter than that, but I would argue that is a false positive.

[2020-06-04 15:28] nickyblissAviva opened #2271 "Documentation: Custom matches functions"
Expectation: Clear documentation on where the path for the custom matches function is relative too

Actual: Current documentation just states relative path

Motivation: We are currently writing some custom matches function to filter out some known false positives that axe is unable to cope with but retain the testing for all other elements rather than turning the test off completely. We have tried

[2020-06-04 21:25] straker commented on #2269
I'd have to be able to see the final DOM structure of your angular app to be able to say what's going on. Would it be possible to put it up in codepen or something similar for me to look at?

[2020-06-04 21:26] straker commented on #2271
Thanks for the issue. I'll see what it would take to make the docs more clear.

[2020-06-05 08:15] nickyblissAviva commented on #2271
@straker Would you be able to advise where the path should be relative from. I have tried a number of different possibilities but can't get any to work it just keeps using the original matching function

[2020-06-05 09:54] paulirish opened #2274 "meta-viewport: Cannot read property 'toLowerCase' of undefined"
We've been getting a bunch of users hitting the same snag recently: https://github.com/GoogleChrome/lighthouse/issues/10908

It now looks like it's all due to the meta-viewport rule. It's marked as incomplete and has an `.error.message` of `Cannot read property 'toLowerCase' of undefined`.

We're using axe 3.5.3 and briefly looking at the changelog I have a suspicion our culprit is #2137 ("fix(met

[2020-06-05 10:05] paulirish commented on #2274
Yup @widmanski's guess was correct. :)

![image](https://user-images.githubusercontent.com/39191/83864108-29587b00-a6d9-11ea-9589-b0ef4cdd6add.png)

[2020-06-05 10:15] harryhmc commented on #2268
I'll feed this back to my team - thanks for your quick response. :+1:

[2020-06-05 10:15] #2268 closed

[2020-06-05 10:39] nickyblissAviva commented on #2271
We are currently calling axe core from cypress which is using:
[code]
Custom matches function is ignored and default run

[2020-06-05 12:38] WilcoFiers commented on #2274
Thanks for reporting Paul. We're aware of this issue and have a fix for it in develop. Axe-core is a little in flux, with us working on 4.0 at the moment. This will be available in 4.0, which we have planned for early August.

[2020-06-05 14:28] straker commented on #2271
So I dug into the code and `matches` does not accept a relative path for `axe.run`.  The only place I found a reference to `matches` being a relative path was in the [developer docs](https://github.com/dequelabs/axe-core/blob/develop/doc/developer-guide.md#rules), which is used for working on axe core itself (and also out of date now).

Instead, `matches` should be the function itself.

[2020-06-05 14:28] #2271 closed

[2020-06-05 14:45] nickyblissAviva commented on #2271
@straker so I could still use matches but it must be a function not a string?
[code]

[2020-06-05 14:45] bhavin7181 commented on #2274
@WilcoFiers With reference to the same github issue on lighthouse (reported by me), [GoogleChrome/lighthouse#10908](https://github.com/GoogleChrome/lighthouse/issues/10908), I am getting below error message in accessibility with score returned as null.

`axe-core Error: Cannot read property 'cells' of undefined` in `color-contrast`
Follow this gist for lighthouse v6 result - https://gist.github.co

[2020-06-05 14:47] straker commented on #2271
Correct

[2020-06-05 14:49] straker commented on #2274
@bhavin7181 we are currently working on a fix for that bug. It might be related to #2261 or #2262.

[2020-06-05 14:50] nickyblissAviva commented on #2271
That doesn't seem to work. Even just returning true of false within the function and doing nothing else the results I am getting back are the same :(

[2020-06-05 14:51] straker commented on #2271
That should work. What does your function look like? Also, is there a page I could test it on?

[2020-06-05 14:59] nickyblissAviva commented on #2271
I have just used this as the options passed into run as a very quick test:
[code]

This page you should be able to get too. The selected checkbox should cause a colour contrast violation even thought the white text is on an accessible green (ignore the faded out disabled state as it also doesn't like that but we dont seem to have another radio or checkbox in a selected state to demonstrate the iss

[2020-06-05 15:05] nonplus commented on #2267
Detecting the default background color is fairly straightforward.  The following is based off [various search results](https://www.google.com/search?q=detect+high+contrast+mode+javascript):
[code]

Let me know if you are interested in a PR.

[2020-06-05 15:25] straker commented on #2271
Ahh. I see what the problem is. Sorry I didn't notice it before. So to configure a rule to change the `matches` (or any other property), you have to use `axe.configure` to pass the `rules` property and not `axe.run`. The docs [say you can do this in `axe.run`](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#options-parameter), but this is incorrect. You can only configure the `enable

[2020-06-05 15:27] nickyblissAviva commented on #2271
Thank you. I'll give that a go and see how we get on :)

[2020-06-05 15:27] straker opened #2277 "Go over all docs and ensure they are correct"
Our doc files have outdated or incorrect information in them. https://github.com/dequelabs/axe-core/issues/2271 has revealed at least 3 incorrect uses of our APIs. Before the 4.0 release, we should go over our docs with a fine tooth comb and ensure all the information is correct and up-to-date.

[2020-06-05 15:47] nickyblissAviva commented on #2271
@straker is there a way of passing back to the default matches function within the custom one. Say we do our matches to exclude the few bits we want to exclude and then pass it back to the default function to complete the standard checks?

[2020-06-05 15:52] straker commented on #2271
Unfortunately we don't have a way to do that

[2020-06-05 15:54] bhavin7181 commented on #2274
@straker Thanks for the quick response. Do we have ETA for the fix? Asking because that might change our timeline to upgrade LH to v6.0.0 :-)

[2020-06-05 15:57] nickyblissAviva commented on #2271
Hmm. Thats going to make it interesting to do then as I don't really want to loose all the matching functionality already there just exclude a few scenarios from that one rule.
Any suggestions?

[2020-06-05 15:57] straker commented on #2274
It should be in the 4.0 release.

[2020-06-05 16:05] straker commented on #2271
Ya, that matches has a lot going on. I assume you still want the nodes you're excluding from color-contrast to run other rules, but if not you could just exclude them completely from axe using the `exclude` option for `axe.run`:

[code]

If you want them in still, it's a bit of a workaround but you might be able configure the color-contrast check to use an `after` function to remove the unwanted n

[2020-06-05 17:51] nickyblissAviva commented on #2271
The after function looks like the best bet meaning we can just remove the few that aren't wanted from that rule but keep the rule for everything else and not exclude the elements completely from the axe tests.
Thank you so much for you help.

[2020-06-05 22:30] paulirish commented on #2274
Seems like the original bug is a dupe of https://github.com/dequelabs/axe-core/pull/2238 and we've also identified the other two for Bhavin's bug.

Thanks ya'll!

[2020-06-05 22:30] #2274 closed

[2020-06-05 22:40] paulirish opened #2280 "Ship one more v3.5.x release?"
https://github.com/dequelabs/axe-core/pull/2238 is a fairly high priority fix for Lighthouse.

Would you be willing to make a release?

If it helps, I took some time and made a `v3.5x` branch which contains every bugfix that's landed in `develop` post-3.5.3. I manually resolved a bunch of conflicts and ensured the tests are passing.

https://github.com/paulirish/axe-core/commits/v3.5.x

Admittedly

[2020-06-06 11:17] snv0 commented on #2265
مجرد خطاء

[2020-06-06 14:02] dylanb commented on #2280
@WilcoFiers I think we should put out another release ASAP with the fix mentioned

[2020-06-06 20:16] gaurav5430 commented on #601
For a more general understanding of this, are there any guidelines on whether or not to have any nested interactions at all or not in ARIA widgets? Are there any example ARIA widgets with nested interactions. Can combobox be considered one such example?

As a specific example, if someone replaces `button` inside `button` or `role="button"` inside `role="button"` with `div` inside `div` and handles

[2020-06-06 22:10] stevefaulkner commented on #601
@gaurav5430
I suggest your example would fall foul of [WCAG 2.1 SC 4.1.2](https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html), as they are interactive UI elements that do not convey a `role`, if you add an appropriate `role` to each then you may fall foul of the [nesting rules](https://w3c.github.io/html-aria/#allowed-aria-roles-states-and-properties).

[2020-06-07 07:06] gaurav5430 commented on #601
Thanks, i understand, any interactive elements should convey a role, either by HTML semantics or by explicitly assigning aria roles, which means in this case, div inside div would be invalid, unless they are assigned aria roles.

But this also means that nested interactive elements are allowed, if we can find out the correct aria role hierarchy for them. Hence the question, if nested interactions

[2020-06-07 21:57] stevefaulkner commented on #601
@gaurav5430 wrote:

 The constraints on nested interactive roles are based on the constraints already defined in HTML, for any roles that match built in HTML elements.

not conforming in HTML
[code]
not conforming in HTML

[code]

[2020-06-08 09:18] nickyblissAviva commented on #2271
@straker afters results list seems a little odd. The nodes it refers within relatedNodes seem to not be the node that caused the violation so for the page I'm testing with I was getting a 2 different contrast violations one on a node within a form label and one on a form legend but the results are coming back with the form label and the body element.

[2020-06-08 12:23] padmavemulapati commented on #1891
Verified with the latest axe-expert - seeing "must" in the issues labels. But for the issue
"ARIA input fields have an accessible name" - didnt hold "must" word.
![image](https://user-images.githubusercontent.com/47409579/84029980-e506fc80-a9b0-11ea-8fd8-1786708fbe9e.png)

[2020-06-08 14:05] #2265 closed

[2020-06-08 15:40] straker commented on #2271
Ah, looks like you are correct. `relatedNodes` seems to be the element which has the bad background color and not the node that caused the issue. You still might be able to get away with it if you filter by specific properties of the `data` object (so the node you want to filter has a certain `fgColor`, `bgColor`, `fontSize` that might identify it as unique).

Other than that, I'm unsure how to ac

[2020-06-08 15:47] nickyblissAviva commented on #2271
Seems an odd thing to return when the tests and violations deal with the node causing the error itself.
Its not ideal but since we are using Cypress I might have to filter the violations out as they come back into Cypress which isn't ideal as I wanted to get something that didn't rely on Cypress.

[2020-06-09 03:46] padmavemulapati commented on #1891
Seeing the change in the latest code merged.
![image](https://user-images.githubusercontent.com/47409579/84103843-c9900600-aa31-11ea-9dee-053a8891d7df.png)
I will let the SME team once this will be in prod version

[2020-06-09 04:01] padmavemulapati commented on #2194
Not seeing changes at present, will verify it once the code changes appeared.

[2020-06-09 13:36] WilcoFiers opened #2282 "Error out when axe.configure is given bad values"
QA stumbled upon this issue by accident. The following code creates a rule with an undefined ID, which is really odd:

[code]

The content of the rules array should be an object, not a string, but that's never caught. At the very least axe-core should throw when the id of a check / rule is undefined. The ID has to be a string.

[2020-06-09 13:38] WilcoFiers commented on #2280
Makes sense. There are a few other things I'd like to get released before 4.0. Aiming for a release next week.

[2020-06-09 15:42] WilcoFiers commented on #2280
Update, yeah we're going to try to get fixes done for #2261 and 2262. Once those are fixed we'll do a patch release.

[2020-06-10 16:24] straker opened #2284 "Create best practice rule to flag elements with role conflict resolution"
We should create a best practice rule that flags elements whose role is `none` or `presentation` and which cause the [role conflict resolution to trigger](https://github.com/dequelabs/axe-core/issues/2212). Role conflict resolution is not a well known concept and getting into that situation causes inconsistent results between browsers. It's also not something you should rely on for accessibility.

[2020-06-10 22:41] ruchiaa opened #2285 "Runtime issue: TypeError: Cannot read property 'filter' of undefined"
Running "Analyze" on a page using the chrome extension. The page has a mat-table that has some empty cells. When I populate the table, the issue goes away.

[code]

[2020-06-11 14:26] padmavemulapati commented on #2194
empty-heading test file
`<!DOCTYPE html>
<html lang="en">
	<head>
		<title>empty-heading test</title>
		<meta charset="utf8" />
		<script src="/axe.js"></script>
	</head>
	<body>
		<h1 id="ignore1" role="banner">Meh</h1>

		<h1 id="pass1">Ok</h1>
		<h2 id="pass2">Ok</h2>
		<h3 id="pass3">Ok</h3>
		<h4 id="pass4">Ok</h4>
		<h5 id="pass5">Ok</h5>
		<h6 id="pass6">Ok</h6>
		<div id="pass7" role="head

[2020-06-11 14:52] padmavemulapati commented on #2261
Verified with the test file -
`<div style="color: gray; background-color: white; font-size: 14pt; font-weight: 100;">
  <span id="target" style="font-weight:bolder; opacity: 0;">My text</span>
</div>`
when a combox dropdown menu is "hidden" using opacity. Color contrast runs on the nodes and reports incomplete for nodes that are not visible on screen. (attached  screenshot)

![image](https://user-

[2020-06-11 14:55] padmavemulapati commented on #2262
Verified with the test file -
` <div style="color: gray; background-color: white; font-size: 14pt; font-weight: 100; overflow: scroll; height: 0">
  <span id="target" style="font-weight:bolder">My text</span>
</div> `
This throws an error in color-contrast and returns as incomplete.
![image](https://user-images.githubusercontent.com/47409579/84402105-ad52bb80-ac21-11ea-8816-e516d99052eb.png)

[2020-06-11 15:38] paulbohman commented on #2164
I have added the old versions of the rules to the robots.txt, with a disallow statement for each one:
https://dequeuniversity.com/robots.txt
This is something we will need to pay attention to as we keep adding new versions of the rules, but the disallow statement is supposed to prevent Google and other search engines from indexing old versions. The search engine will index the current version.

[2020-06-11 20:20] straker commented on #2195
QA: you'll need to look at each of the individual prs listed here to know what the options for each check is called.

[2020-06-12 05:21] linjin-harvey opened #2287 "Chrome 83 cannot see axe tab on devTool"
Expectation: Using axe extension on chrome browser

Actual: I cannot see axe extension on chrom browser

Motivation: chrome upgrade to 83 since company security compliance

<pre><code>
axe-core version: 4.5.2
axe-webdriver, extension or other integration version: X.Y.Z

Browser and Assistive Technology versions

For Tooling issues:
- Chrome  83.0.4103.61
</code></pre>

[2020-06-12 05:22] linjin-harvey commented on #2287
![image](https://user-images.githubusercontent.com/16532219/84467776-aecac500-acaf-11ea-9fdf-7dd0bd7eb6e7.png)

[2020-06-12 14:07] straker commented on #2285
Thanks for the issue. Are you able to provide the site where the error occurs so I can try to reproduce it?

[2020-06-12 14:10] straker commented on #2287
Interesting. I can see the extension in Chrome 83. Are you saying you use to have the extension in the tabs but now you cannot once you upgraded?

![image](https://user-images.githubusercontent.com/2433219/84511751-3b5f8e00-ac84-11ea-969d-e0cc4e44004c.png)

[2020-06-12 18:09] andyricchuiti opened #2288 "role="presentation" on <hr> tag"
when adding a role="presentation" it's showing a violation even though mdn and aria say that an hr tag is [allowed to have that role](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr)

Expectation: adding a role="presentation" does not trigger a semantic violation

Actual: It currently does

<img width="938" alt="Screen Shot 2020-06-12 at 1 06 36 PM" src="https://user-images.githubuser

[2020-06-12 18:12] habeebmh commented on #2288
Having the same issue on `2.11.1`.

[2020-06-12 19:45] jamespatrickwhite commented on #2287
I'm also noticing the same thing with Chrome 83.0.4103.97 on MacOS 10.15.5. The axe entry, along with the webhints extension, have gone missing from the Developer Toolbar since upgrading. Each of the extensions are still enabled, and both show up in the Chrome Menu toolbar at the top right of the browser window. No errors are shown in the browser console.

[2020-06-12 21:31] mcammaressi opened #2289 "Error: Could not establish connection. Receiving end does not exist."
The following error displays when I click the Analyze button on my QA site:
Error: Could not establish connection. Receiving end does not exist.

[2020-06-13 11:09] thofi88 opened #2290 "Grunt file is invalid"
the grunt file is invalid and i can not build ja axe.js file in my language.

Grunt: The JavaScript Task Runner (v1.1.0)
error:
A valid Gruntfile could not be found. Please see the getting started guide for
more information on how to configure grunt: http://gruntjs.com/getting-started
Fatal error: Unable to find Gruntfile.

the Gruntfile.js:

var path = require('path');

/*eslint
camelcase: ["erro

[2020-06-13 21:00] bobbydyr commented on #1977
I got the same problem, but I removed some of the chrome extensions and then the problem was gone!

[2020-06-15 03:52] padmavemulapati commented on #2186
For `regoin` rule fail testfile , `<body>
		<div>hello</div>
		foobar
	  </body>`
initially it is in failure:
![image](https://user-images.githubusercontent.com/47409579/84616440-a1008400-aee9-11ea-85eb-8d72b9f554e8.png)
Then configured with :
`axe.configure({
  rules: [{
    id: 'region',
    reviewOnFail: true
  }]
}); `
we can see the regoin rule into incomplete, which is expected to this cofig

[2020-06-15 03:58] padmavemulapati commented on #1349
devTask

[2020-06-15 04:04] padmavemulapati commented on #2195
Seeing the changes on all Options (Options.value) and instead normal methods, observed getter methods and call funtions. Please let me know is there any specific impacts on tests/test results.

[2020-06-15 11:45] WilcoFiers commented on #2289
Does this happen consistently? This error can sometimes occur when you use the extension immediately after install, before reloading the page. That's a known problem. If there is another way to get this, that is definitely something we need to look into. Could you provide a URL where the issue can be reproduced?

[2020-06-15 12:02] akashmdkml opened #2291 "duplicate Id issue"
###  Duplicate id issue:
_As per the w3c standard the content wrapped inside area-hidden="true" will not be readable by screen readers, The axe mark the following code as duplicate Id but the google lighthouse does not mark this issue because the google will identify duplicate id by aria-labelledby, so the lighthouse finds duplicate Id's only which is readable by the screen. (https://web.dev/dupli

[2020-06-15 12:24] jkodu opened #2292 "New Rule: Zoomed text content is not clipped with overflow:none"
## Rule/ Check name: `zoomed-text-not-clipped`

This rule checks that text nodes are not unintentionally clipped by `overflow`, when a page is zoomed to 200% on 1280 by 1024 viewport;

**Tags:**
- wcag21
- wcag144

## Matcher

The rule applies to any text node for which all of the following is true:
- The text node is visible; and
- The text node has an HTML element as a parent in the flat tree; a

[2020-06-15 12:24] jkodu commented on #2292
There is a related ACT Rule for this
- https://act-rules.github.io/rules/59br37

[2020-06-15 13:53] WilcoFiers commented on #2291
@akashmdkml This is intentional. IDs do not get ignored if an element is hidden. For instance if you use document.getElementById(), you'll get a hidden element back. This works the same in accessibility. If you reference an element with aria-labelledby for example, even if the element you reference is hidden, that element will still be used to create the label. Hidden elements with duplicate IDs c

[2020-06-15 13:56] straker commented on #2290
That's strange. What's the command you are trying to run exactly? I assume `npx grunt build --lang=ja`. I'm not getting an invalid Gruntfile error with the current `develop` branch when running that command.

[2020-06-15 13:59] WilcoFiers commented on #2251
This SVG looks decorative. That is why axe-core ignores it, screen readers will do the same. Axe can't tell automatically if that is or isn't supposed to be decorative, that depends on the content and the context of the image. If you give an SVG `role="img"`, axe-core will tell you to give it an accessible name, as that is a clear case where axe-core can tell it is not a decorative SVG.

One thing

[2020-06-15 14:03] straker commented on #2287
This appears to be an issue with Chrome and certain sites. Some sites are preventing the loading of extensions that use Chrome DevTools. A workaround is to open Chrome DevTools before navigating to the site you want to test.

[2020-06-15 14:43] mcammaressi commented on #2289
Hello!

Yes does this happen consistently  - have never been able to use this tool.

On Mon, Jun 15, 2020 at 4:45 AM Wilco Fiers <notifications@github.com>
wrote:

--
Kind Regards,
Michelle Cammaressi

[2020-06-15 14:46] #2195 closed

[2020-06-15 14:47] #1349 closed

[2020-06-15 14:47] #2262 closed

[2020-06-15 14:48] #2261 closed

[2020-06-15 14:48] #2194 closed

[2020-06-15 14:50] jeankaplansky commented on #1891
rule help update req'd.

[2020-06-15 14:55] #2118 closed

[2020-06-15 15:17] jeankaplansky commented on #1891
PR Submitted: https://github.com/dequelabs/axe-rule-help/pull/47

[2020-06-15 15:56] andyricchuiti commented on #2288
@WilcoFiers sorry for at-ting you, but would love guidance on this if there's something i'm missing. thanks for your time

[2020-06-15 17:04] straker commented on #2288
This seems to be an error on our part. Our list of [allowed elements for presentation](https://github.com/dequelabs/axe-core/blob/develop/lib/commons/aria/lookup-table.js#L1499-L1524) needs to include the `hr` element.

[2020-06-15 18:00] andyricchuiti commented on #2288
awesome! thanks so much for looking into it, @straker!

[2020-06-16 05:23] thofi88 commented on #2290
I'am run `grunt build --lang=de` with the same branch.

[2020-06-16 05:24] thofi88 commented on #2290
And with `px grunt build --lang=de` is the problem, too.

[2020-06-16 09:09] WilcoFiers commented on #2290
I'm getting the following error:

[code]

The `./axe.de.js` file is created though, this error occurs after the file is created. That is definitely something we should fix.

[2020-06-16 09:12] WilcoFiers commented on #2288
Thanks for reporting, yeah this is an error. Thank you for reporting!

[2020-06-16 16:40] straker commented on #2280
Release pr for 3.5.5 #2297

[2020-06-16 17:13] jeankaplansky commented on #1891
Fixed in both English and Japanese (title/description only)

[2020-06-16 17:13] #1891 closed

[2020-06-16 17:25] #2164 closed

[2020-06-17 13:36] umaar opened #2298 "Issue for language codes"
Probably missing some context but in the [valid-langs.js](https://github.com/dequelabs/axe-core/blob/develop/lib/core/utils/valid-langs.js) file, is it correct that there are codes like `aaa, aab, aac` and different permutations like that? What is the reason?

I would've assumed language codes would be something like [this](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)

[2020-06-17 14:24] WilcoFiers commented on #2298
Jup, three-letter code are correct language codes. "aaa" is the code for Ghotuo, "aab" is Alumu-Tesu, and "aac" is "Ari". They are fairly obscure languages. I'm not sure if there are any assistive technologies that support them, that's not really something we can prove, so axe-core supports these.

All official language codes are in the IANA language subtag registry: https://www.iana.org/assignmen

[2020-06-17 14:28] umaar commented on #2298
Woah, had no idea! Thanks for sharing that, useful to know 👍️

[2020-06-17 14:28] #2298 closed

[2020-06-17 15:01] WilcoFiers commented on #2298
Yer welcome!

[2020-06-17 15:17] straker commented on #2280
Axe 3.5.5 has been released https://www.npmjs.com/package/axe-core/v/3.5.5

[2020-06-17 15:17] #2280 closed

[2020-06-17 16:58] straker commented on #2285
@ruchiaa any update on this?

[2020-06-17 17:16] ferBonnin commented on #798
@iamrafan revisiting this issue since we received a user report on this. Can you please test this with voiceOver again?

[2020-06-17 17:16] straker commented on #2178
This seems to be the same issue as the breadcrumb in https://github.com/dequelabs/axe-core/issues/2178 where text truncation is causing some interesting problems.

[2020-06-17 19:25] straker opened #2303 "Verify lookup table is up-to-date"
The `aria.lookupTable` keeps having issues with [missing attributes](https://github.com/dequelabs/axe-core/issues/2170) or [allowed roles on elements](https://github.com/dequelabs/axe-core/issues/2288). We should do a one over pass on the lookup table with current ARIA spec and verify all the information is there.

[2020-06-17 19:34] straker commented on #2170
Did some research with this structure:

[code]

Firefox/NVDA and IE11/JAWS read the button name when focusing the outer div. However, Safari/VoiceOver only read that a button is active and not its name. Testing shows that `aria-activedescendant` is supported in those browsers those.

[2020-06-18 17:43] #2291 closed

[2020-06-18 17:44] #2287 closed

[2020-06-18 17:45] straker commented on #2269
@Sathish406 any update on this?

[2020-06-18 17:51] #2117 closed

[2020-06-18 17:52] straker commented on #2145
@jnurthen any update on this?

[2020-06-18 17:53] straker commented on #2142
Closing as we have the issue recorded

[2020-06-18 17:53] #2142 closed

[2020-06-18 19:23] stephenmathieson opened #2312 "typescript: TagValue is missing many values"
The [`TagValue`](https://github.com/dequelabs/axe-core/blob/develop/axe.d.ts#L8) type is missing _many_ values. This makes setting these tags impossible when using the TypeScript compiler (as most Attest products do).

<details>
<summary>
Tags that are not allowed by the definition, but are used in axe itself
</summary>

Each of these tags can be seen in the [`doc/rule-descriptions.md`](https://gi

[2020-06-18 19:26] stephenmathieson opened #2313 "Can impact be null?"
The Attest products often mark `impact: null` in their "findings". Is this supported by axe-core?

If so, can we update its `axe.d.ts` file to allow this?

[2020-06-18 19:48] stephenmathieson commented on #2312
Related #2313

[2020-06-18 19:54] straker commented on #2312
Our type file continues to be out of date with our actual API. We should either convert our code to use TypeScript or develop a way to automate the types file. I vote on the former.

[2020-06-18 19:56] straker commented on #2313
As far as I understand it, `impact` is never `null` in axe codebase. But @WilcoFiers would be better one to ask.

[2020-06-19 12:46] WilcoFiers commented on #2284
So, to summarise how to approach this:

1. Needs a new rule, which has a selector of [role=none], [role=presentation]
2. Create two new checks, which go in "all"
    - First check just looks if the element is not focusable. It can use dom.isFocusable()
    - Second check should look if the virtualNode has a global ARIA attribute. There is no commons for this, but it's fairly straight forward:

[co

[2020-06-19 12:59] WilcoFiers commented on #2089
I am not convinced this actually is a false positive. The issue is that because the font weight is not set in CSS, if a user swaps out the font for a custom one, that custom font will not be bold, and this false positive turns in to an actual accessibility issue of a non-bold font with a contrast below 4.5:1.

This needs to be looked at more closely. This may not be a failure of WCAG, but it is an

[2020-06-19 14:00] goodwitch commented on #2089
@WilcoFiers would it be possible to move this type of situation from a "hard fail" in axe...to a "needs review"?

[2020-06-19 14:49] ge-vlad-romanov opened #2316 "axe.run() overrides produce misleading Typescript warnings"
We are using the latest version of `axe-core` in our TS Protractor tests directly, since using `axe-webdriverjs`'s AxeBuilder throws TS compilation issues. To use `axe`, we declare it as a const of type `any`:

[code]
any we use it in a function like so:

[code]

Above, we provide it with the HTML document as the context and an options object with some rules to be disabled. Despite the code runnin

[2020-06-19 15:22] straker opened #2317 "Verify axe types file is correct"
Our `axe.d.ts` file is out of date and incorrect. Before the 4.0 release we should update the types file to be correct.

[2020-06-19 15:23] straker commented on #2316
Thanks for the issue. We'll update the the types file before the 4.0 release and make sure it's correct and up-to-date. https://github.com/dequelabs/axe-core/issues/2317

[2020-06-19 15:58] jeankaplansky commented on #2188
@WilcoFiers, @erik-deque: Who's writing the docs for axe-core 4.0? Is this task staying with Steve?

[2020-06-19 21:24] iamrafan commented on #798
@ferBonnin I re-tested, it is still not supported in VoiceOver

[2020-06-20 06:28] yaha-dev commented on #1977
I've been similar problem like "DevTools failed to load SourceMap: Could not load content ...", I've removed adblock of the chrome extensions and my console is clean.

[2020-06-21 04:38] xinbenlv commented on #1977
Same issue

[2020-06-21 23:10] jealepive commented on #1977
I just uninstalled _AddBlock_ extension, and the problem is gone!

[2020-06-21 23:11] jealepive commented on #1977
I just uninstalled AdBlock extension, and the problem is gone!

[2020-06-22 00:14] shashinvision commented on #1977
Yes, i read this and just uninstalled AdBlock and all ok now :D, Thanks very much #jealepive

[2020-06-22 09:54] ge-vlad-romanov commented on #2316
@straker Thanks for the quick response, I'm glad it was useful!

[2020-06-22 11:05] padmavemulapati commented on #2290
Able to run `grunt build --lang=ja --force` (axe3.5.5v)
![image](https://user-images.githubusercontent.com/47409579/85280717-4d240b00-b4a6-11ea-98be-ccb6e4f8286d.png)

[2020-06-22 11:31] padmavemulapati commented on #2097
auto-complete - `tel-*` allowing and showing in Passes. (verified in latest axe-core3.5.5)
![image](https://user-images.githubusercontent.com/47409579/85282841-0b955f00-b4aa-11ea-81b9-b100864a725e.png)

[2020-06-22 14:11] straker commented on #2316
Yep. It's planned for early August.

[2020-06-22 14:47] padmavemulapati commented on #2178
Verified with axe-core 3.5.5 ,not seeing any error and its showing results in passes:
![image](https://user-images.githubusercontent.com/47409579/85301344-540e4600-b4c5-11ea-9992-20811f23e40f.png)

[2020-06-22 14:48] padmavemulapati commented on #2285
Verified with axe-core3.5.5 , not seeing any error , and results showing in passes (notin incomplete like earlier)
![image](https://user-images.githubusercontent.com/47409579/85301501-8750d500-b4c5-11ea-8c1f-486b964c86f0.png)

[2020-06-22 14:57] padmavemulapati commented on #2288
tested with the test file ` ` and axe-core3.5.5 `aria-allowed-role` for `<hr role=presentaiton> is not throwing in voilations now, its in passes
Passes attachement:
![image](https://user-images.githubusercontent.com/47409579/85302144-6341c380-b4c6-11ea-9632-fefb71d89f75.png)
Voilatons attachement: ( `aria-allowed-role` node is there but not for <hr> )
![Uploading image.png…]()

[2020-06-22 15:06] padmavemulapati commented on #2258
Verified in axe-core3.5.5 (with the test content ` <dl role="presentation"><dt id="target">My list item</dt></dl>` ) not seeing any error  but seeing the results in passes:
![image](https://user-images.githubusercontent.com/47409579/85303397-0c3cee00-b4c8-11ea-850e-c3a869c92b92.png)

[2020-06-22 15:20] padmavemulapati commented on #2170
Verified with the `<div role="application" tabindex="0" aria-activedescendant="button1">
  <button id="button1">Cut</button>
  <button id="button2">Copy</button>
  <button id="button3">Paste</button>
</div>`
and with axe-core3.5.5 its passing the aria-allowed-attribute for 'role="application" tabindex="0" aria-activedescendant="button1"`

![image](https://user-images.githubusercontent.com/47409579

[2020-06-22 18:28] jeankaplansky commented on #2282
no user-facing does required.

[2020-06-22 18:28] #2282 closed

[2020-06-22 18:30] jeankaplansky commented on #2170
no user-facing docs required.

[2020-06-22 18:30] #2170 closed

[2020-06-22 18:30] jeankaplansky commented on #2258
no user-facing docs required.

[2020-06-22 18:30] #2258 closed

[2020-06-22 18:31] jeankaplansky commented on #2288
no user-facing docs required.

[2020-06-22 18:31] #2288 closed

[2020-06-22 18:31] #2285 closed

[2020-06-22 18:33] jeankaplansky commented on #2178
no user-facing docs required.

[2020-06-22 18:33] #2178 closed

[2020-06-22 18:33] jeankaplansky commented on #2097
no user-facing docs required.

[2020-06-22 18:33] #2097 closed

[2020-06-22 18:34] #2290 closed

[2020-06-22 18:34] jeankaplansky commented on #2290
no user-facing rule help docs required.

[2020-06-22 21:07] liamdebeasi opened #2318 "bug: axe not finding elements passed in to web component"
Axe does not seem to find content that was passed into a web component.

Steps to reproduce:

1. Open this example: https://codepen.io/liamdebeasi/pen/vYLmOpm. It might be easier to fork this an open it in "Debug" mode/its own frame.
2. Open Dev tools.
3. Inspect the `ion-select` component. Notice is has `role="listbox"`.
4. Inspect any of the `ion-select-option` components inside of `ion-select`.

[2020-06-23 08:21] padmavemulapati commented on #2236
Verified with axe-core3.5.5 , `<aside> aria-labelledby ..<header>` is not failing now and showing it in passes. Attached the screenshots describing passes and also voilations list(not having `<aside>`)
![image](https://user-images.githubusercontent.com/47409579/85378464-3807b480-b558-11ea-80eb-40b2d4ce68c4.png)
![image](https://user-images.githubusercontent.com/47409579/85378551-5372bf80-b558-11ea

[2020-06-23 14:46] jeankaplansky commented on #2236
no rule-help changes required.

[2020-06-23 14:46] #2236 closed

[2020-06-23 18:13] darrinmn9 opened #2319 "Bug: Possible regression in v3.5.5 - Rules must be an object with at least an id property"
Expectation: axe configurationOptions working in 3.5.4 should work in 3.5.5

Actual: In v3.5.5, I get an uncaught TypeError on page load

<pre><code>
import axe from 'axe-core'

const configurationOptions = {
  rules: axe.getRules(['wcag2aa', 'wcag2a', 'best-practice'])
}

// works on v3.5.4
// TypeError in v3.5.5

</code></pre>

Possible regression could be from this merged commit in the release

[2020-06-23 19:32] straker commented on #2319
The code by itself shouldn't throw the error. Are you passing that object directly into `axe.configure`? If so, I'm not sure that code ever worked as you intended. Without an `id` property, nothing would be configured about the rules (we never look at `ruleId`).

What exactly are you trying to do with that configuration?

[2020-06-23 19:54] darrinmn9 commented on #2319
Ah, sorry for the lack of detail. Maybe it's an issue with how the configuration object is used in `vue-axe` ?https://github.com/vue-a11y/vue-axe

[code]

From looking at the source it seems `vue-axe` merges the following `defaultOptions` https://github.com/vue-a11y/vue-axe/blob/master/src/utils.js#L9 with the `myConfig` object I pass.

[code]

[2020-06-23 20:03] straker commented on #2319
It looks like they are passing in your object correctly to `axe.configure`, but I'm not sure your object ever did anything in the configuration.

[2020-06-23 20:07] darrinmn9 commented on #2319
hmm, ok, so maybe `{rules: axe.getRules(['wcag2aa', 'wcag2a', 'best-practice'])}` has always been an incorrect config to pass to `axe-core`, but it never threw an error till v3.5.5?

[2020-06-23 20:10] straker commented on #2319
That's what I'm thinking. If you only want to run 'wcag2aa', 'wcag2a', 'best-practice' rules, then a better option would be to use the [`runOnly` option of `axe.run`](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#options-parameter):

[code]

[2020-06-23 20:11] darrinmn9 commented on #2319
Thanks @straker, my apologies for not reading the docs thoroughly.

[2020-06-24 03:00] camelkish1 commented on #1977
Thank you @jealepiveAdBlock extension was the reason.

[2020-06-24 11:08] somaalapati commented on #2248
Convinced, but the details look confusing.

[2020-06-24 11:26] conino99 commented on #1977
i tried to uninstall adblock and still doesn't work

[2020-06-24 15:05] #2313 closed

[2020-06-24 18:32] jeankaplansky opened #2323 "docs: broken TOC links"
Expectation: Working links -

![image](https://user-images.githubusercontent.com/4044039/85612967-62747300-b627-11ea-86d3-b98154b9cd46.png)

Actual: Links don't work

Page in question: https://github.com/dequelabs/axe-core/blob/develop/doc/developer-guide.md

[2020-06-25 08:46] Sathish406 commented on #2269
yes i resolved this issue. i cleared dom elements then added that html content inside to div then loaded via axe it works fine now. thanks

[2020-06-25 08:53] padmavemulapati commented on #2146
Verified with axe-core3.5.5(latest code), and the test code is `<h1 role="none" id="target">Some stuff and stuff</h1>` , as per
`https://github.com/dequelabs/axe-core/blob/695ec040d0269bb9a2e4125446d639d690975628/lib/rules/bypass.json#L18`
` "any": ["internal-link-present", "header-present", "landmark"], ` this `header-present` check  should come with `bypass` ruleID.
But I am not seeing anything

[2020-06-25 13:00] mnsuccess commented on #1977
I get the same issue !!

[2020-06-25 13:12] #2269 closed

[2020-06-25 14:46] straker commented on #2318
I must say, `ion-select` is an interesting component. The component opens the options as a modal and you select them as a checklist. However, the component doesn't appear to have a tab stop so I can't open it via the keyboard. If I turn on VoiceOver I can navigate by line to the button (which doesn't have an accessible name) and open the modal from there. However, my focus stays on the button and

[2020-06-25 14:47] JoeMorgan commented on #1597
Would love to see this make its way in. Right now I have to choose between losing 9 points in the audit or giving my non-sighted users a sub-optimal experience (my primary page header reads "heading level 1 2 items" instead of just "heading level 1" without role="text").

[2020-06-25 14:51] straker commented on #2319
Closing as it seems to have been resolved. Please reopen if you fell otherwise.

[2020-06-25 14:51] #2319 closed

[2020-06-25 15:01] liamdebeasi commented on #2318
Yes, `ion-select` certainly has plenty of accessibility issues we need to improve upon.

Is there a way to tell Axe to ignore the elements in the shadow root? Those elements are purely decorative, and what VoiceOver should see is the host `ion-select`.

[2020-06-25 15:05] straker commented on #2318
Unfortunately no. But the button isn't decorational as it's the only thing that can receive the keyboard focus, and the `placeholder` div is what is giving the ion-select its name as the `aria-labelledby` target element isn't in the DOM.

[2020-06-25 15:06] liamdebeasi commented on #2318
Thanks for clarifying 👍

[2020-06-25 15:06] #2318 closed

[2020-06-25 15:57] jamime opened #2327 "API docs for getRules/runOnly are misleading"
Expectation:
The [documentation](https://www.deque.com/axe/axe-for-web/documentation/api-documentation/) should be consistent with the repo.
This was fixed in the repo in https://github.com/dequelabs/axe-core/pull/2169 but it is not reflected on the website.

Additionally both tables should be the same, or they should not be duplicated `runOnly` and `getRules` both accept the same tags AFAIK.

Act

[2020-06-25 16:06] jeankaplansky commented on #2189
@straker: Is this up-to-date?: https://github.com/dequelabs/axe-core/blob/master/doc/rule-descriptions.md#deprecated-rules

[2020-06-25 16:10] straker commented on #2189
Develop has the most up-to-date list https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md#deprecated-rules

[2020-06-26 11:24] WilcoFiers opened #2329 "Color contrast issues when material design modal is opened"
Expectation:
axe does not report violations for content that is covered by a modal overlay

Actual:
When I run axe on the following page, after I open a modal, contrast issues are reported:
https://material.angular.io/components/dialog/examples

[2020-06-26 13:56] stevekeator commented on #2329
I'm going to add to this since I think this is related to OP's issue, and was going to submit a report on my own this morning.

Color contrast is not scanning correctly in hidden content.  It produces many false positives and incomplete runs.

![image](https://user-images.githubusercontent.com/5422712/85863660-b8a8f980-b780-11ea-88df-5761be451450.png)

When this closed dropdown, several violations

[2020-06-26 13:59] stevekeator commented on #2329
To be clear, the dropdowns function with CSS display properties (block/none) and NOT CSS visibility.

[2020-06-26 17:08] LiLoDavis commented on #741
@WilcoFiers Could you please clarify why missing data cells return "needs review" rather than "fail"? How is the user supposed to determine whether this is an accessibility issue?

[2020-06-26 17:29] jnurthen opened #2330 "iframe giving "All page content must be contained by landmarks" when iframe itself is contained by a landmark"
Expectation: This best practice should only occur when content isn't contained by a landmark

Actual: The best practice gets reported whenever an iframe contains content without landmarks even when the iframe itself is contained in a landmark.

Motivation: We use a UI shell around some pages. The shell will look at the included page and, if they do not provide landmarks, will add a main around the

[2020-06-29 00:53] SebastianUA commented on #1977
I'm facing the same as well

[2020-06-29 15:25] WilcoFiers commented on #2330
Yeah I agree, that should pass. Thanks for reporting James.

[2020-06-29 18:46] LiLoDavis opened #2331 "link-in-text-block should pass if sufficient contrast ratio even without distinct style"
**Expectation**: Rule should **pass** if a link has a contrast ratio of at least 3:1 with surrounding text even if it has no distinct style

**Actual**: Rule returns **uncertain**.

**Motivation**: WCAG Success Criterion requires sufficient contrast OR distinct style, not both

Excerpt from WCAG F73: F[ailure of Success Criterion 1.4.1 due to creating links that are not visually evident without co

[2020-06-30 15:22] lencioni opened #2335 "is-valid-autocomplete should allow one-time-code as a standalone term"
Expectation: `<input type="text" autocomplete="one-time-code" />` should be allowed

Actual: It is flagged as invalid

Motivation:  This autocomplete value can be used by some browsers to automatically fill in the value after receiving a one-time-code for 2-factor authentication. More info:

- https://github.com/whatwg/html/pull/4573
- https://developer.apple.com/documentation/security/password_au

[2020-06-30 20:55] jeankaplansky commented on #2189
@straker: Include the list of deprecated rules that were removed in the release notes? Seems like a very good place for this type of information...

[2020-07-01 01:59] Pipistrel0 commented on #1977
Same problem with Chrome Version 83.0.4103.116 (Official Build) (64-bit).

[2020-07-01 02:39] mohanraj-r commented on #2271
@straker I am also looking for the ability to exclude selected rule-components combinations. So the summary here is that it is easier/possible to do it in post-processing after getting the results from axe.run()? Can you please confirm?

[2020-07-01 08:56] nickyblissAviva commented on #2271
@mohanraj-r I've now got a filtering function setup in Cypress that is taking the results out of axe and pruning out any false positives before sending the results on to be displayed/reported.
Seems to work but isn't ideal as it would have been nice to have been able to run the validation outside of Cypress if required as part of our automated testing setup.

[2020-07-01 12:24] nickcolley commented on #795
Hello @WilcoFiers !

I run into this issue a lot. In our most recent case we're using `<aside>` inside the page to show an 'Recommended story'. Sort of an inline advert for another article.

This aligns well with the HTML definition of how to use `<aside>`.

It'd be helpful for us to have any research or evidence that led to introducing this rule, what impact does it have on real users of assistiv

[2020-07-01 16:46] shadowharshit commented on #1977
same problem with me ,
DevTools failed to load SourceMap: Could not load content for http://localhost/hello/js/swiper.min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2020-07-01 20:17] straker commented on #2303
Closed via the 3 standards prs.

[2020-07-01 20:17] #2303 closed

[2020-07-01 21:19] Jia-Yao opened #2339 "`aria-required-children` should not fail when `role=listbox` element does not have descendant element of `role=option`"
Expectation: While all options in listbox should have `role=option`, it's not necessarily that every descendant element of the listbox has to be an option. The scenario where `role=listbox` element does not have descendant element of `role=option` should not be treated as failure.

Actual: In axe-core version 3.4.1 that shows up as failure.

Motivation: Issue https://github.com/dequelabs/axe-core/

[2020-07-01 21:56] AdnoC opened #2340 "Axe should error when there is a configuration mismatch between frames"
Steps to reproduce:

* Go to page with iframes (tested with https://github.com/dequelabs/axe-core-npm/blob/feat-disable-fram/packages/puppeteer/test/fixtures/nested-frames.html which contains an iframe of https://github.com/dequelabs/axe-core-npm/blob/feat-disable-fram/packages/puppeteer/test/fixtures/frames/foo.html)

* Paste `axe.min.js` into the console at the top level

* Paste `axe.min.js` in

[2020-07-02 13:55] padmavemulapati commented on #2146
@straker can you please check this? or QA notes please anything else required other than the above comment content?

[2020-07-02 13:55] padmavemulapati commented on #1417
devTask

[2020-07-02 22:29] #1417 closed

[2020-07-04 09:50] huynhminhsangit commented on #1977
Same problem with Chrome Version Version 83.0.4103.116 (Official Build) (64-bit)

[2020-07-06 19:58] straker opened #2347 "Bug: running JSDOM (without setting globals) results in error"
[code]

The issue is that axe-core now sets the global `document` and `window` but does not unset it after the run. JSDom apparently creates a new `window` and/or `document` every new instance, so they are no longer the same. When we check if the `context` is a context, we use the `window` element to determine things, which is what fails on the 2nd run.

[2020-07-07 06:30] padmavemulapati commented on #2212
when role=presentation and aria-attributes are properly defined no failures seeing:
for  ex: `<h1 role="presentation" aria-haspopup="true"> Sample Content </h1> ` is passing no failure found
but ` <h1 role="presentation" aria-level="2"> Sample  Content </h1>` is failing for `aria-allowed-attr` - ruleid

[2020-07-07 15:05] jeankaplansky commented on #2212
no user-facing docs required.

[2020-07-07 15:05] #2212 closed

[2020-07-07 18:04] straker commented on #2347
Pairing with @stephenmathieson  we discovered the problem only happens in jsdom v16 (v15 does not fail). The fix is to null `window` and `document` in the `cleanup` function of `run-rules.js` if we set the globals ourselves.

[2020-07-07 18:36] jnurthen opened #2348 "<h2 aria-level=1> should not fail Page needs a level one header"
Expectation: `<h2 aria-level="1">` should count as a level one header

Actual: results in a "Page must contain a level-one heading" best-practice violation

Motivation: Doesn't seem correct

<pre><code>
axe-core version: 4.5.3
axe-webdriver, extension or other integration version: 3.5.5

Browser and Assistive Technology versions

For Tooling issues:
- Node version: XX
- Platform:
</code></pre>

Th

[2020-07-07 19:05] stephenmathieson commented on #2347
<details>
<summary>Failing test case</summary>

[code]
</details>

[2020-07-08 11:42] WilcoFiers commented on #2348
Right you are! Thanks for reporting.

[2020-07-08 12:16] WilcoFiers commented on #2339
Hey @Jia-Yao I'm having a hard time reproducing the issue. Can you provide a code snippet?

[2020-07-08 22:23] kensgists opened #2355 "autocomplete-valid rule incorrectly fails for autocomplete="tel-*" values on input type=tel"
The autocomplete-valid rule fails all "tel-*" autocomplete values on input type="tel" fields.

Expectation: <input autocomplete="tel-extension" type="tel"> passes autocomplete-valid rule

Actual: <input autocomplete="tel-extension" type="tel"> fails autocomplete-valid rule

axe-core version: 3.5.5

[2020-07-08 22:54] malkeets1 opened #2356 "Could not establish connection. Receiving end does not exist."
Expectation: << Describe what you expect the product to do >>

Actual: << Describe what the product actually does >>

Motivation: << Describe why you want the behavior to be changed >>

<pre><code>
axe-core version: X.Y.Z
axe-webdriver, extension or other integration version: X.Y.Z

Browser and Assistive Technology versions

For Tooling issues:
- Node version: XX
- Platform:
</code></pre>

[2020-07-09 09:31] samivic commented on #1977
i changed to firefox, it works fine.

[2020-07-09 14:10] straker commented on #2355
Thanks for the issue. This should be fixed in develop with https://github.com/dequelabs/axe-core/pull/2307 and should be in the next release.

[2020-07-09 14:10] #2355 closed

[2020-07-09 14:14] straker commented on #2356
Hey @malkeets1, we've found the solution to be either to restart chrome or ensure your permissions are up-to-date. See #1769 for more information. You can also check to make sure it has permissions for all sites. See https://github.com/dequelabs/axe-core/issues/1806#issuecomment-533118649

Going to close this as a duplicate, but let me know it doesn't solve it for you.

[2020-07-09 14:14] #2356 closed

[2020-07-09 14:21] v1690117 commented on #1977
The same problem. Is there any solution related to code changes?
Moving to another browser or blocking some chrome extension are not proper solutions because developer can't make all users do this.

[2020-07-09 14:37] kensgists commented on #2355
Awesome! Thanks! This project is amazingly responsive. Much appreciated.

[2020-07-09 15:26] straker opened #2357 "Axe-core file size"
Below is a table of the sizes of `axe.min.js` for the last few releases since v3.0.

| Release | Minified | Gzipped |
| ------- |:--------:|:-------:|
| 3.0.0 | 236 kB | 67.1 kB |
| 3.1.1 | 284 kB | 78.7 kB |
| 3.2.0 | 318 kB | 89.8 kB |
| 3.3.0 | 342 kB | 94.9 kB |
| 3.4.0 | 405 kB | 108 kB |
| 3.5.0 | 461 kB | 126 kB |

If we were to release axe-core v4.0 today (which is not feature complete), w

[2020-07-09 16:09] straker commented on #2327
Sorry, I've seem to have missed this one. I've created a [ticket to go over all the docs](https://github.com/dequelabs/axe-core/issues/2277) to ensure they are up-to-date and correct. I'll be sure to look at this one as well.

[2020-07-09 18:44] scurker commented on #2289
@mcammaressi Is there any more information you can provide?

This issue generally happens when devtools cannot connect to the tab/content page in order to run axe. It can be a permissions issue in `chrome-extensions://settings`:

![site access options in chrome extension settings with 3 options, on click, on specific sites, and on all sites](https://user-images.githubusercontent.com/1062039/870782

[2020-07-10 00:17] Jia-Yao commented on #2339
Hello @WilcoFiers, here is the high level idea of what I'm trying to do: [https://jsfiddle.net/jia_yao/gq4skxhp/78/](https://jsfiddle.net/jia_yao/gq4skxhp/78/). It's similar to the issue I linked in terms of creating `role=option` elements on the fly, and I see `axe-core` is flagging the `aria-required-children` rule.

[2020-07-10 17:05] RationalPi commented on #1977
Same problem. Chrome version 83.0.4103.116 (Official Build) (64-bit) on macOS Catalina v.10.15.5.

[2020-07-11 14:05] MelikeSila commented on #1977
I solved it with `pip install ipykernel --upgrade`

**References:**
https://ipython.readthedocs.io/en/stable/install/kernel_install.html
https://stackoverflow.com/questions/46383177/jupyter-notebook-not-running-code-stuck-on-in/51787616

[2020-07-12 15:28] farnetani commented on #1977
Solution: https://superuser.com/questions/1523427/google-chrome-devtools-failed-to-parse-sourcemap-chrome-extension/1523842#1523842?newreg=c27cfa9dda0842d69df44e53ec42dfc2

[2020-07-13 10:17] WilcoFiers opened #2364 "th-has-data-cells docs example is incorrect"
The bad example shows a table with empty data cells. This would not be flagged by the rule though. A better example would be if the scope is set incorrectly, have scope=row where it should be scope=col and visa versa.

https://dequeuniversity.com/rules/axe/3.5/th-has-data-cells?application=RuleDescription

We'll need to show code instead of an actual table to illustrate this point.

[2020-07-13 10:18] padmavemulapati commented on #2348
verified with the latest axe-core code, it was failing with `<h2 aria-level=1>`
![image](https://user-images.githubusercontent.com/47409579/87293586-29da0200-c520-11ea-8703-8252ab2d8522.png)

now seeing the fix, its not failing , also showing it into passes:
![image](https://user-images.githubusercontent.com/47409579/87293688-4ece7500-c520-11ea-857d-80b1915f9f90.png)

[2020-07-13 10:28] padmavemulapati commented on #2335
Verified with the changes,  `<input type="text" autocomplete="one-time-code" />` allowing me to enter the values in textbox, also its not failing with input type , but showing failure for there is no label defined for the input type
used test code is : `<input type="text" autocomplete="one-time-code" />`
![image](https://user-images.githubusercontent.com/47409579/87294610-9f929d80-c521-11ea-9d72-4

[2020-07-13 13:43] stephenmathieson commented on #2340
I believe this is also due to the same bug causing #2347

[2020-07-13 14:56] #2335 closed

[2020-07-13 14:57] #2348 closed

[2020-07-14 10:41] WilcoFiers opened #2372 "color-contrast-matcher should too greedy about excluding labels"
**Expected**: In the following code "hallo" and "guttentag" are tested for color contrast:

[code]

**Actual**: The color-contrast-matches method is a little greedy, and excludes everything that could be used in the accessible name computation as a disabled thing, not just whatever visible label is actually used. This may lead to things not being tested that probably should be.

[2020-07-14 11:31] WilcoFiers opened #2373 "Firefox does not respect aria-labelledby in elements named from content"
The link in the following code snippet has an empty accessible name, despite both the `img` and `svg` elements having an accessible name:

[code]

I tested this with buttons too, and it has the same problem. I suspect this will hold for all named from content elements (needs to be confirmed). This is such a substantial problem I think we should consider adding a check or rule to fail this.

Filed

[2020-07-14 21:31] mohanraj-r opened #2378 "Type Definition missing 'version' - error TS2339: Property 'version' does not exist on type 'typeof axe'"
Expectation: `axe.version` doesn't result in type error

Actual: Accessing version with `axe.version` results in `error TS2339: Property 'version' does not exist on type 'typeof axe'`

Motivation: Type definition should match runtime behavior where `axe.version` works directly in browser console or in code after suppressing the error

<pre><code>
axe-core version: 3.5.5
axe-webdriver, extension or

[2020-07-14 22:21] straker commented on #2378
Thanks for letting us know. I'll make sure to address this when i fix #2317

[2020-07-14 22:28] mohanraj-r commented on #2378
Thanks @straker
Wondering if this is automated or hand-crafted ?
If automated and easy to do - could be something a person like me who isn't extremely familiar with axe internals could help as well.

[2020-07-15 11:59] WilcoFiers opened #2383 "Flakey test: /integration/full/contrast/code-highlighting.html"
This test "randomly" seems to fail in Firefox. Rerunning the test suite usually solves it. This needs to be sortedout.

/test/integration/full/contrast/code-highlighting.html

[2020-07-16 10:21] WilcoFiers commented on #2378
@mohanraj-r It's maintained by hand, which is why there's an issue at all. Would you be interested in putting in a PR? The file to change is this one:

https://github.com/dequelabs/axe-core/blob/develop/axe.d.ts

[2020-07-16 10:31] WilcoFiers opened #2388 "Remove "restoreScroll" option"
Because the color-contrast rule no longer scrolls, the restoreScroll option does nothing. This should be taken out of core and out of the docs. I don't think we need to deprecate it either, just as long as passing it doesn't cause axe-core to crash.

[2020-07-16 14:44] padmavemulapati commented on #2090
Verified with latest axe (axe-core3.5.5), color-contrast is failing which has no `aria-labelledby` attribute. and its passing which has `aria-labelledby`
Failed-snippet in the  Screenshot
![image](https://user-images.githubusercontent.com/47409579/87685204-c0b4f180-c7a0-11ea-863c-153afbcc94cd.png)
Pass-snippet in the screenshot:
![image](https://user-images.githubusercontent.com/47409579/87685420-

[2020-07-16 15:26] straker commented on #2340
We determined that this isn't a so much a bug in axe as it is a lack of documentation / error reporting. The doc issue is that when you configure axe, you need to do the same configuration in every iframe. So if you add branding or disable rules, you need to do that for each iframe as well.

The error reporting issue is that we silently fail in these cases. We should try to detect when axe is conf

[2020-07-16 16:01] jeankaplansky commented on #2166
Glenda and Paul approved.

[2020-07-16 16:01] #2166 closed

[2020-07-16 16:53] padmavemulapati commented on #2165
Verified with the latest axe-core-3.5.5 develop code,
For the following rules seeing the "ACT" tag
1. `document-title` - testfile - `<html lang="en">
	<title> A brief, clear, informative, and unique title</title>

	<div class="foo" id="foo">foo</div> </html>`
![image](https://user-images.githubusercontent.com/47409579/87697946-6cb20900-c7b0-11ea-8c8a-5dd65a388d62.png)
2. `html-has-lang`  & `html-l

[2020-07-17 09:41] WilcoFiers commented on #2340
Documentation is added here: #2392. We still need to do some work to catch this in the future. I'll leave this ticket open for that purpose. Taking it out of the 4.0 milestone though.

[2020-07-20 13:05] straker commented on #2108
qa: to test this you can take a rule such as `aria-allowed-attrs` and test any role in the new [standards object](https://github.com/dequelabs/axe-core/blob/develop/lib/standards/aria-roles.js) that has an `allowedAttrs` property. First test that you can't add an aria-attribute that is not one 1) global 2) part of the `reuqiredAttrs` and 3) part of the `allowedAttrs`, then configure the role to al

[2020-07-20 15:32] #2383 closed

[2020-07-20 15:33] straker opened #2403 "Add tests for generic rule-matches that are not part of any rules"
Example: `layout-table-matches`.

[2020-07-20 16:02] straker opened #2405 "Don't be so greedy in try/catch blocks for the accessible name rules"
Part of #2183 was to ensure the checks caught errors thrown by internal code when `children` or `parents` were undefined or there was no `actualNode`. A lot of the times the `try/catch` bock surrounds the entire check evaluate code, but it really should only wrap the part of the code that will throw.

[2020-07-20 19:50] jeankaplansky commented on #2165
Captured in [release notes](https://docs.google.com/document/d/1BArQf-czemCkijUknsUxORdOmU5OKZK6rziL53E-HRs/edit#heading=h.hdex1llrrtxx): 3/20/2020

[2020-07-20 19:50] #2165 closed

[2020-07-20 20:15] jeankaplansky commented on #2189
captured in [release notes](https://docs.google.com/document/d/1BArQf-czemCkijUknsUxORdOmU5OKZK6rziL53E-HRs/edit#) 7/20/2020

[2020-07-20 20:15] #2189 closed

[2020-07-20 20:23] jeankaplansky commented on #2090
doc'd in internal release notes on 7/20/2020

[2020-07-20 20:23] #2090 closed

[2020-07-20 20:31] jeankaplansky commented on #2188
included in internal release notes: 7/20/2020

[2020-07-20 20:31] #2188 closed

[2020-07-20 23:21] erik-deque commented on #2289
Another cause of this may be browser policies that restrict access. We are investigating this issue and plan to update the messaging and the way we handle the error in the next release.

[2020-07-21 14:19] padmavemulapati commented on #2347
Installed "JSDOM" and ran
1. without defining jsdom - `dom = jsom('<div></div>');
axe.run(dom.window.document.documentElement);` - got error - "Uncaught ReferenceError: jsom is not defined
    at playground.html:10"
and
2. ran by defining the jsdom variable - `let dom = jsom('<div></div>');
axe.run(dom.window.document.documentElement); ` - running fine.
(Attached the screenshot in both scenarios.

[2020-07-21 14:47] padmavemulapati commented on #2108
Verified as per QA notes using latest axe-core(3.5.5 pulled code)
Step1: for the test file ' <div role="checkbox" aria-expanded="true" aria-checked="true">Hello</div>
Simply running axe - would result - failure for `aria-allowed-attr` (attached the Screenshot)
![image](https://user-images.githubusercontent.com/47409579/88069007-89728600-cb8e-11ea-9fb9-576c042f2c83.png)

Step2: configured with `axe

[2020-07-21 14:57] stephenmathieson commented on #2347
@padmavemulapati try the [test case from above](https://github.com/dequelabs/axe-core/issues/2347#issuecomment-655063191).

Also note that this is run in a Node.js context, not a browser.

[2020-07-21 18:33] jeankaplansky commented on #2347
behind the scenes stuff; docs req'd in repo.

[2020-07-21 18:33] #2347 closed

[2020-07-21 19:35] #2183 closed

[2020-07-21 23:08] mohanraj-r commented on #2378
Thanks @WilcoFiers I can take a stab at it.
Are there tests for the type-definitions ?

[2020-07-22 13:50] Andarist commented on #2052
@straker are there any particular challenges regarding that in the axe-core codebase? I potentially could help you migrate the codebase to ES modules - usually, most of the work can be automated, but maybe your codebase uses some unusual patterns?

[2020-07-22 14:32] straker commented on #2378
@mohanraj-r our tests for the type file are located here https://github.com/dequelabs/axe-core/blob/develop/typings/axe-core/axe-core-tests.ts

[2020-07-22 14:51] padmavemulapati commented on #2175
Verified with the latest axe-core(v3.5.5), there were checks for color-contrast pass/fail based on the threashold
Here are the few sample test files tried with different options:
`should support options.boldValue
<div style="color: gray; background-color: white; font-size: 14pt; font-weight: 100" id="target">
<span style="font-weight:bolder">My text</span></div>

boldTextpt
<div style="color: gray

[2020-07-22 16:13] straker commented on #2052
@Andarist The codebase is actually already converted to ES modules. Thanks for reminding me of this issue,  it might be too late to get into the 4.0 release but I'll take a look.

[2020-07-22 16:25] Andarist commented on #2052
If I could do anything to help you ship this in 4.0 - let me know. I'm pretty proficient with modern bundling tools, build systems etc. I haven't worked with Grunt for a while though so I would propose replacing it with something else as it's not a popular tool nowadays.

[2020-07-22 23:25] kensgists opened #2411 "autocomplete-valid should be 'failure or needs review' rather than 'failure' and algorithm needs refinement"
Expectation:
Something like the following:
* Failure only occurs for inappropriate input field type when autocomplete value is in Input Purposes for User Interface Components.
* All other usages of autocomplete should be marked "needs review":
    * If appropriate field type and in Input Purposes, user needs to verify the accessible name of the field aligns with the field implied by the autocomple

[2020-07-23 12:19] WilcoFiers commented on #2357
I've discussed this with @dylanb, he is on board with introducing the size budget. To address this, I propose we do the following:

1. Before we publish axe-core 4.1, we'll define a size budget for axe-core
1. Every major / minor release, starting with axe-core 4.1 we will reduce the size of axe-core by at least 5kb gzipped since its last major/minor release, until it reaches the size budget.
1. W

[2020-07-23 12:54] WilcoFiers commented on #2411
Hey Ken. Thanks for the feedback. Do you have an example of something like that existing on a real website?

I know that in theory someone could make up their own autocomplete value, similarly someone could make up their own roles and aria attributes. In practice people don't do this. Or at least, nothing like that has ever been reported. If you've found a website that has `autocomplete="horse-nam

[2020-07-23 15:21] #2190 closed

[2020-07-23 15:55] straker opened #2412 "Deprecate get/setScrollState"
Color contrast no longer scrolls the page so these functions no longer are needed. Just need to deprecate them in 4.1.

[2020-07-23 18:59] erikkroes opened #2413 "Placeholder does not get recognized as label"
Expectation: An `<input>` with a placeholder-attribute does not get recognized as having an accessible name

Actual: When I run aXe on FireFox at https://app.element.io/#, I get a violation on the search input. The input has a placeholder which should create an accessible name. Both FireFox and Chrome use this to create an accessible name, but aXe does not.
`<input type="text" class="mx_RoomSearch

[2020-07-23 19:36] straker commented on #2413
Thanks for the issue. Tested in Safari/VO, IE11/JAWS, and Firefox/NVDA and all use the placeholder for the accessible name. Also confirmed in the [accessible name computation spec](https://www.w3.org/TR/html-aam-1.0/#input-type-text-input-type-password-input-type-search-input-type-tel-input-type-email-input-type-url-and-textarea-element-accessible-name-computation).

[2020-07-23 23:07] GregJohnStewart opened #2415 "Not properly processing lists"
I have the following list that forms some navigational elements:

[code]

However, I get the following error messages:

[code]

I believe that my html is valid, and should not make this error.

[2020-07-24 05:32] tctanya opened #2416 "Not even starting the analyzation"
Expectation: << Describe what you expect the product to do >>

Actual: << Describe what the product actually does >>

Motivation: << Describe why you want the behavior to be changed >>

<pre><code>
axe-core version: X.Y.Z
axe-webdriver, extension or other integration version: X.Y.Z

Browser and Assistive Technology versions

For Tooling issues:
- Node version: XX
- Platform:
</code></pre>

[2020-07-24 08:52] WilcoFiers commented on #2416
Please provide details on how to reproduce the issue.

[2020-07-24 13:30] straker commented on #2415
I believe the issue is since the `ul` has a role of `tablist`, each `<li>` child is being reported as missing the parent `ul` without a role. You'll need to add `role=presentation` to each of the `<li>`s [in order for the structure to be correct](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_presentation_role).

[2020-07-24 14:02] WilcoFiers commented on #2413
I'd like to see Chrome+JAWS too, if it works there (in addition to the above, I agree we should add it in. I had no idea this was spec'ed. I heard when this went into Firefox, wasn't supported anywhere else at the time. Pretty surprised it works in IE.

[2020-07-24 14:20] straker commented on #2413
Confirmed in Chrome/JAWS

[code]

"foo bar baz edit, foo bar baz typeof text"

[2020-07-24 14:37] WilcoFiers commented on #2413
alrighty, lets add placeholder to accessibleText

[2020-07-24 14:48] GregJohnStewart commented on #2415
Unfortunately, that produces the following error:

[code]

[2020-07-24 16:05] straker commented on #2415
That's strange, I don't get that error when I have the structure:

[code]

[2020-07-24 16:10] GregJohnStewart commented on #2415
Ahh I was being dumb, I just replaced the link's role, not giving the li one. Putting the role on the li fixed it, thanks for the points!

[2020-07-24 16:10] #2415 closed

[2020-07-24 16:49] adob opened #2418 "duplicate definition in axe.js"
`grunt` produces a `axe.js` file where the same function is defined multiple times. For example, `_typeof(obj)` is defined on line 16, and then again on line 305, with the same body. Same with `_defineProperty()`. The duplicate declarations are still there in the minified file, wasting bytes.

[2020-07-24 16:59] straker commented on #2418
Thanks for the issue. I believe this issue has been fixed in the latest develop version of the file. `function _typeof` is only defined twice now (an artifact of how we are doing this that can't be fixed yet).

[2020-07-24 21:42] mohanraj-r commented on #2378
Thanks @straker I will take a stab at it soon - btw if we were to hold a axe hackathon in our team as a way of contributing back is there a list of good first issues that we can use ? I noticed there isn't a corresponding github issue label.

[2020-07-25 14:36] GregJohnStewart opened #2420 "Checkboxes that share the same name in different forms cause violations"
I have two nearly identical login forms on the same page (one for the navbar, one for the page content). They are nearly identical because I can use the same javascript/selenium code to implement and test both.

The issue with this is that I get the following violation from AXE:

[code]

Nav login:

[code]

Homepage Login:

[code]

These are part of entirely different forms in different parts of t

[2020-07-27 11:15] padmavemulapati commented on #2209
devTask

[2020-07-27 11:25] padmavemulapati commented on #246
Verified with the latest axe-core(3.5.5) code base ,
testfile - ` <p style="color: #000; background: #737373; text-shadow: white 0 0 3px">
	Some text in a human language
</p>`
also verified on test file
`<!DOCTYPE html>
<span id="span" style="text-shadow: 1px 1px 2px red,
    #f00 0 0 1em,
    0 0 0.2em rgba(0, 255, 0, 0.5);
">Hello world</span>
<script>
	window.addEventListener('load', function()

[2020-07-27 12:05] eps1lon opened #2421 "Call out missing accessible name on various ARIA roles"
Expectation: `<div role="tree" />` triggers a violation because it does not have an accessible name. Example: https://2m3yw.csb.app/

Actual: No violation reported

Motivation:

- `role="tree"` requires an accessible name in [ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/#tree) and [1.2](https://www.w3.org/TR/wai-aria-1.2/#tree).
- the tree will be announced as a generic "tree" in NVDA (possibly an

[2020-07-27 12:25] padmavemulapati commented on #2388
Seeing the changes for color-contrast issue , verified with latest axe-coconut
![image](https://user-images.githubusercontent.com/47409579/88541427-59196480-d032-11ea-9170-f50527efd077.png)

[2020-07-27 14:41] kensgists commented on #2411
Hi Wilco, No. I was just making something up for purposes of illustration.

While "horse-name" would be flagged as either a warning or a violation in an HTML validator, I don't believe it could be considered a WCAG violation, unless paired with a label that aligned with a purpose from the Input Purposes list. (Maybe 4.1.1 Parsing, but even that is pretty constrained in purpose.)

The general point

[2020-07-27 15:13] straker commented on #2378
@mohanraj-r I can go find some issues and put the `help wanted` or `hacktoberfest` labels on them for you.

Also, we'll need the version fix in by end of day today (5pm MST) as we are putting a code freeze in place for our release next week. If you can't get it in by then I'll fix it so we have it for 4.0.

[2020-07-27 17:43] jeankaplansky commented on #2388
changelog still has references to restoreScroll from previous versions.
No user-facing docs required.

[2020-07-27 17:43] #2388 closed

[2020-07-27 17:55] jeankaplansky commented on #2209
Added to internal release notes 7/27/2020

[2020-07-27 17:55] #2209 closed

[2020-07-27 18:02] #246 closed

[2020-07-27 18:02] jeankaplansky commented on #246
included in internal release notes 7/27/2020

[2020-07-27 18:07] jeankaplansky commented on #2175
Added to internal release notes 7/27/2020

[2020-07-27 18:07] #2175 closed

[2020-07-27 18:40] jeankaplansky commented on #2108
Included in internal release notes 7/27/2020

[2020-07-27 18:40] #2108 closed

[2020-07-27 20:45] straker commented on #2421
Thanks for the proposal. It's up to @WilcoFiers if we want the new rule, but I'll add some information on how we would write it:

[code]

The check would then check if the role requires a name (which we would need to add to the standards object, something like `requiredName`), and then look for an accessible name.

[2020-07-27 20:48] straker commented on #2420
The checkbox group rule was [deprecated in version 3.4](https://github.com/dequelabs/axe-core/releases/tag/v3.4.0). If you upgrade to that version or later the issue should go away.

[2020-07-27 20:49] #2420 closed

[2020-07-27 20:49] #2418 closed

[2020-07-27 20:56] GregJohnStewart commented on #2420
I'm using `axe-core-java`, Is there a fix for that?

[2020-07-27 21:06] straker commented on #1736
Closed via https://github.com/dequelabs/axe-core/pull/2392

[2020-07-27 21:06] #1736 closed

[2020-07-27 21:53] stephenmathieson commented on #2420
Hey @GregJohnStewart! It's been awhile since I've worked on that project, but it looks like `axe-selenium-java` expects you to bring your own version of `axe.js` based on these LOCs:

- https://github.com/dequelabs/axe-selenium-java/blob/master/src/main/java/com/deque/axe/AXE.java#L66
- https://github.com/dequelabs/axe-selenium-java/blob/master/src/main/java/com/deque/axe/AXE.java#L256

This said,

[2020-07-27 22:36] GregJohnStewart commented on #2420
Do you mean the js listed [here](https://github.com/dequelabs/axe-selenium-java/tree/master/src/test/resources)?

I'm currently using the `axe.min.js` listed here, pulled it sometime last week. Is there a better source? Honestly it's a little hard to find a real link it seems, there isn't clear direction as to where to find the axe js (it's a little easier if you use node, but I only found the lin

[2020-07-27 23:02] straker commented on #2316
@ge-vlad-romanov so I just [create a pr for the typescript file](https://github.com/dequelabs/axe-core/pull/2425) and made sure to test every possible combination of the `axe.run` call, and I couldn't reproduce this error.

Are you able to provide a live example I could look at?

[2020-07-28 00:13] stephenmathieson commented on #2420
Those are "fixtures" for the tests/example (which we should clearly update). I would recommend downloading a more recent version of axe from npm or a CDN like unpkg.

Also hi : wave:

[2020-07-28 02:52] GregJohnStewart commented on #2420
Thanks! For anyone else looking for the direct link, here it is: https://unpkg.com/browse/axe-core@3.5.5/axe.min.js

[2020-07-28 06:16] ge-vlad-romanov commented on #2316
@straker Just to clarify my original post, the warning related to `axe.run()` is shown by the IDE (Webstorm), and it is not an actual TS compilation error, which may explain why you aren't able to reproduce it.

[code]

And this is the warning I get (I just reinstalled everything via npm ci just to make sure it still occurs):
![image](https://user-images.githubusercontent.com/32774223/88626229-34f

[2020-07-28 12:34] padmavemulapati commented on #693
Verified by configuring the rule `html-has-lang` , from checks its impact is "serious".
tried to make it minor with the below method.
` axe.configure({
  rules: [{
    id: 'html-has-lang',
    impact: "minor"
  }]
}); `
Not able to see the impact. @straker  / @WilcoFiers please help me out for the right configure

[2020-07-28 12:44] padmavemulapati commented on #2105
Verified with the iframe ` <!doctype html>
<html lang="bob">
<head>
	<title>Hello</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <p>metaviewport</p>
</div>
</head>
</html>` and calling this into another iframe -- not throwing voilations or incomplete

[2020-07-28 13:15] WilcoFiers commented on #2331
I'm going to have to look into this. I've always understood this to include hover / focus effect, but you've got a very good point here.

[2020-07-28 13:18] WilcoFiers commented on #2413
Don't agree with that label. This is a false positive.

[2020-07-28 13:22] WilcoFiers commented on #2421
Tackling this was proposed in one of the oldest still open issues: #470 I think this is a good idea. It goes a little beyond role=tree. We need rules for all of the "requires accessible name" role we don't have one for already, and probably group them into a few rules.

[2020-07-28 14:27] stephenmathieson commented on #2420
@GregJohnStewart great idea! Feel free to open an PR!

[2020-07-28 14:50] straker commented on #2339
@Jia-Yao this issue may have been fixed in the latest develop version of the code. Would you be able to test your use-case with [axe-core@next](https://www.npmjs.com/package/axe-core/v/next) and see if it works now?

[2020-07-28 14:51] #2312 closed

[2020-07-28 14:55] straker commented on #2284
Note: It might be easier to just check if the explicit role matches the semantic role as the semantic role does all the checking for us :)

[2020-07-28 14:56] straker commented on #2243
Closed via standards object

[2020-07-28 14:56] #2243 closed

[2020-07-28 15:04] straker commented on #2203
@plweil this should now be fixed in the latest develop version of axe-core. Would you mind pulling down [axe-core@next](https://www.npmjs.com/package/axe-core/v/next) and testing it? You should now see an `aria-required-parent` error for the missing parent roles due to the `role=presentation` on the table

[2020-07-28 15:05] michael-siek commented on #2316
Hey @ge-vlad-romanov if you change your import statement from
[code]
to
[code]

remove
[code]

and instead of using `axe.run()` use `run()`
[code]

that should fix the issue above.

[2020-07-28 15:28] straker commented on #2145
This should now be fixed in the latest develop of axe-core.

[2020-07-28 15:28] ge-vlad-romanov commented on #2316
Hi @michael-siek - thanks for taking a look. I actually did try that before without success, but I have now noticed that was because my declared type of `opts` was incompatible with what the overloads were expecting (I didn't see that axe provided a `RunOptions` interface, so I created my own, which is incompatible). I now have no warnings or errors :)

[2020-07-28 15:40] straker commented on #2316
Going to close as it looks like this is resolved. Please re-open if that is not the case.

[2020-07-28 15:40] #2316 closed

[2020-07-28 16:34] #2317 closed

[2020-07-28 16:36] straker commented on #2378
`version` is now part of the types file for 4.0

[2020-07-28 16:36] #2378 closed

[2020-07-28 16:37] straker commented on #693
@padmavemulapati you are correct. Put in a pr that should fix this.

[2020-07-28 16:38] straker commented on #2052
Alright, so since this was a breaking change it's too late to go into the 4.0 release. We'll have to revisit this issue when looking at 5.0.

[2020-07-28 16:40] jeankaplansky commented on #2105
comment in release notes 7/28/2020

[2020-07-28 16:40] #2105 closed

[2020-07-28 16:45] mohanraj-r commented on #2378
Thanks @straker
Sorry I wasn't able to get back in time - swamped with some other things right now.
Yes it would be great if you can label some issues to help the hackathon.

[2020-07-28 17:17] jeankaplansky commented on #1661
Addressed for 4.0 release. Added https://www.w3.org/WAI/tutorials/forms/labels/ to 3.5 release to provide more specific how-to information.

[2020-07-28 17:17] #1661 closed

[2020-07-28 19:19] straker commented on #693
@padmavemulapati should be good to test this again.

[2020-07-28 19:39] newschapmj1 commented on #1661
Nice work, thanks

[2020-07-28 19:46] straker commented on #1300
No longer relevant with standards object

[2020-07-28 19:46] #1300 closed

[2020-07-28 19:48] straker commented on #2012
This should be resolved now with latest axe-core.

[2020-07-28 19:57] jeankaplansky commented on #2364
Submitted https://github.com/dequelabs/docs-axe/pull/6 7/28/2020

[2020-07-28 19:57] #2364 closed

[2020-07-28 20:08] jeankaplansky commented on #2327
This is a really big merge and it's all about https://www.deque.com/axe/axe-for-web/documentation/api-documentation/, which is technically owned by marketing. I've asked @straker to get in touch with Ryan Bateman to discuss next steps on this since I don't usually update docs on deque.com

[2020-07-28 20:42] Andarist commented on #2052
What's the estimate for v4? From what I see it has not been shipped yet, so maybe there still would be time for an external contributor to work on this one?

[2020-07-28 20:51] straker commented on #2052
4.0 is schedule to go out on Monday. Since this is a breaking change (global axe no longer being loaded if using AMD or CommonJS) we had our code freeze for breaking changes last week. So even with a pr, we wouldn't be able to merge it.

[2020-07-28 20:56] Andarist commented on #2052
With such a schedule I totally understand the code freeze. Thanks for letting me know!

[2020-07-29 02:33] aldosuwandi opened #2428 "Add capability to support custom reporter"
### User story
As a test author, I want to be able to intercept the `results` object right before the `axe.run()` returns the `result`

Currently, if we want to process the `results` we can already do it this way.
[code]
However, with this approach the `new CustomReporter(results).process()` has to be called whenever `axe.run()` is invoked.

### Proposal
It'll be nice if we can add a custom report

[2020-07-29 05:15] padmavemulapati commented on #693
Thank you @straker , its working now. I am able to see the modified  impact at rule level update, instead checks level.
verified for `html-has-lang` rule.
![image](https://user-images.githubusercontent.com/47409579/88759415-5e88c300-d188-11ea-9fad-d8ce1b81a7bb.png)

[2020-07-29 07:06] ge-vlad-romanov commented on #2316
@straker @michael-siek Not sure if this is a problem on our side or with Protractor's interaction with axe-core, but using the above approach (importing `run` and using it directly) leads to this error when running the above script I posted:
[code]
Thinking about it, this might have been why I had to initially go down the `declare const axe: any` approach and use `axe.run()`...

[2020-07-29 12:42] WilcoFiers commented on #2428
Well, do I have good news for you! This is already possible. It isn't well documented, definitely something we need to address. You can do the following in axe:

[code]

This gets you the raw results, before axe turns it into this nicely structured passes / violations structure. If you want to work on the output of axe-core's v1 reporter, a simple wrapper function could also work:

[code]

[2020-07-29 14:19] straker commented on #2327
@jamime Alright, I was informed that those docs are synced with the master branch version. We are planning on releasing axe-core 4.0.0 on Monday, so once that goes live the docs on deque.com website should be updated.

[2020-07-29 15:00] #2277 closed

[2020-07-29 15:01] #1936 closed

[2020-07-29 15:01] #840 closed

[2020-07-29 15:02] #2187 closed

[2020-07-29 15:06] jeankaplansky commented on #2327
Closed per Steve's comment above.

[2020-07-29 15:06] #2327 closed

[2020-07-29 15:56] jeankaplansky commented on #693
included as a new feature in internal release notes 7/29/2020

[2020-07-29 15:56] #693 closed

[2020-07-29 16:23] #2323 closed

[2020-07-29 18:47] eps1lon commented on #2421
Naively I would just collect all the roles that aren't currently checked and put them into a new rule. That way we automatically avoid redundant violations. It may help to further divide them by the technique that names them so that it's easier to give actionable advise.

I'll draft a list of all roles that require an accessible name but do not trigger any violation and then  it might be obvious h

[2020-07-29 20:28] iamrafan opened #2430 "Add "Narrator" in accessibility supported requirements"
The [latest screen reader survey by WebAIM ](https://webaim.org/projects/screenreadersurvey8/)is out and 30.3% of the respondents said they use Narrator.

![image](https://user-images.githubusercontent.com/22068434/88844171-2046d000-d197-11ea-9b12-82854225dbf6.png)

Considering this, please add Narrator and Microsoft Edge as one of the AT/Browser combinations to be tested for support in the [Acces

[2020-07-29 21:06] straker commented on #2430
Thanks for brining this to our attention. We'll start looking into Narrator to see what it would take to support it.

[2020-07-29 22:15] #1279 closed

[2020-07-29 22:43] straker commented on #1611
Should be part of #1006

[2020-07-29 22:54] straker commented on #2107
See [the ariaRole standards docs](https://github.com/dequelabs/axe-core/blob/develop/doc/standards-object.md) for how to do this

[2020-07-29 22:56] straker commented on #2151
Link to #1677

[2020-07-29 23:09] straker commented on #2378
@mohanraj-r no problem. I've gone through and put [the help wanted label](https://github.com/dequelabs/axe-core/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) on a handful of issues. Some of these issues are discussion points (not ready for prs), but most of them are able to receive a pr. Let us know if you have any questions about the issues and we'll be happy to help.

When are you pla

[2020-07-30 03:56] aldosuwandi commented on #2428
Thanks for the response!
I see. I wonder if there is an enhancement that can be made to pass the custom reporter via [axe.configure()](https://www.deque.com/axe/axe-for-web/documentation/api-documentation/#api-name-axeconfigure)?

The reason that I'm asking is that the majority of axe integrated test frameworks, such as [axe-webdriverjs](https://github.com/dequelabs/axe-webdriverjs), [cypress-axe]

[2020-07-30 10:19] WilcoFiers commented on #2186
This still needs documentation.

[2020-07-30 10:23] WilcoFiers commented on #2411
So the underlying assumption for a lot of what axe-core (and every other accessibility tool) does is that developers don't just make stuff up. There is no real reason why someone might just invent a new role, aria attribute, or autocomplete value. In theory it obviously could happen, but in practice, I've never seen it.

There's a tradeoff in this. Do you stop reporting very obvious accessibility

[2020-07-30 10:23] #2411 closed

[2020-07-30 13:42] kensgists commented on #2411
I'm definitely not saying, "Do you stop reporting very obvious accessibility issues, such as mistyping autocomplete values, for a theoretical possibility of a false positive?"

But is it prudent to flag something a "pass" rather than a "needs review" when it is trivially easy to fail the SC and still have the attribute value be correct?

My last example points to an instance where axe would pass s

[2020-07-30 14:14] straker commented on #2186
Closed via https://github.com/dequelabs/axe-core/pull/2429

[2020-07-30 14:14] #2186 closed

[2020-07-30 14:26] straker commented on #2411
Unfortunately detecting intent between a label and autocomplete value is not something automated tools can test (only 50% of accessibility errors can be automatically tested). So yes, even though a user could label an input with a misleading value while the autocomplete says something different is a problem, detecting that would fall under the realm of manual testing.

[2020-07-30 19:26] eps1lon commented on #2421
Using https://9p5yw.csb.app/ the following roles are not flagged even though they require an accessible name but have none:
- [`alertdialog`](https://rawgit.com/w3c/aria/stable/#alertdialog)
- [`application`](https://rawgit.com/w3c/aria/stable/#application)
- [`columnheader`](https://rawgit.com/w3c/aria/stable/#columnheader)
- [`dialog`](https://rawgit.com/w3c/aria/stable/#dialog)
- [`grid`](https

[2020-07-30 21:28] mohanraj-r commented on #2378
Thanks @straker
We are planning it on Aug 26th - axe is one of the handful of projects that people can choose for the hackathon.

[2020-07-31 10:08] WilcoFiers commented on #2421
This is something we were thinking to do for axe-core 4.1. Much appreciate the PR. I've gone through the existing ARIA roles, and think we can organise them in the following way:

## aria-toggle-field-name - tag: sc412

- checkbox
- menuitemcheckbox
- menuitemradio
- radio
- switch
- option (new)

## aria-input-field-name - tag: sc412

- combobox
- listbox
- searchbox
- slider
- spinbutton
- textb

[2020-07-31 17:55] eps1lon commented on #2421
Is meant to be `aria-progressbar-name`?

And considering

-- https://github.com/dequelabs/axe-core/pull/2431#pullrequestreview-459064788

you prefer each rule in a separate PR or each role in a separate PR

[2020-08-03 03:09] kensgists commented on #2411
Right, "manual review" rather than fail, in all cases other than those where type mismatch or value order errors are detected -- those seem like a definitive fail.

[2020-08-03 14:24] carterwcowan opened #2432 "Class name on root DOM element triggering "Some page content is not contained by landmarks""
Hi team,

We're integrating the axe-core library into all of our department's UI builds (yay its about time), and there's one error (Best Practice) that keeps coming up. Our site implements themeing by adding a css class to the root `<html>` element to cascade the theme through the rest of the page.

Example:
[code]

While this css class does not necessarily add any styles to the `<html>` element

[2020-08-03 14:43] straker commented on #2432
Thanks for the issue. Do you have a live example I could look at? Just adding a CSS class wouldn't trigger a failure of the `region` rule. Is the `dark` class being used to hide a region (perhaps by accident)?

[2020-08-03 20:37] Malvoz commented on #2213
https://github.com/w3c/html-aam/issues/292 describes one such case.

[2020-08-03 21:52] carterwcowan commented on #2432
I'll take another look at the `dark` class. At the moment I'm not using it to change the display properties of any of the elements but you never know what could sneak in there.

Here's a simple codepen that doesn't seem to be triggering any errors, so perhaps mea culpa https://codepen.io/carterwcowan/pen/zYqOjxq

[2020-08-04 08:08] lilhamad commented on #1977
I disabled LastPass extension on my chrome and cleared my browsing data, and refreshed the page.
That worked for me.

It might be another extension in your own case

[2020-08-04 13:54] #2432 closed

[2020-08-04 19:05] straker opened #2436 "include/exclude option may not be matching correctly"
When calling `audit.run` and passing it an include/exclude context, we do not flatten the tree anywhere, so are passing actual DOM nodes into `rule.run` which tries to gather the nodes using `querySelectorAll` but doesn't pass virtual nodes, causing them to never match the context due to `matchesExpression` requiring virtual nodes to match.

All the errors are being swallowed by axe so I only stum

[2020-08-05 14:47] padmavemulapati commented on #2145
tested with test file `<h2 id="label_fruit"> Available Fruit </h2>`
`<ul role="listbox" aria-labelledby="label_fruit"  aria-orientation="vertical">`
... its not giving failures
![image](https://user-images.githubusercontent.com/47409579/89427174-9380b100-d758-11ea-95e4-5ab5023364e4.png)

[2020-08-05 15:00] padmavemulapati commented on #2203
tested with the test file `<table role="presentation> `
not seeing error for `aria-required-parent`
![image](https://user-images.githubusercontent.com/47409579/89428810-6b924d00-d75a-11ea-8149-4b6017632963.png)

[2020-08-05 15:20] RCopeland opened #2439 "unable to analyze the page, due to documentElement error"
Expectation:  Analyze the page
Actual: Reports 'an error occured' with the following:

[code]
Motivation: Im trying to do some a11y analysis of pages.

<pre><code>
axe-core version: 3.5.5
axe-webdriver, extension or other integration version: 4.5.3
Browser and Assistive Technology versions
</code></pre>

Chrome 81
MacVO - Catalina 10.15.3
![Screen Shot 2020-08-05 at 11 13 33 AM](https://user-image

[2020-08-05 19:49] jeankaplansky commented on #2203
no user-facing docs required

[2020-08-05 19:49] #2203 closed

[2020-08-07 14:00] jeankaplansky commented on #2145
No user-facing docs required.

[2020-08-07 14:00] #2145 closed

[2020-08-08 08:30] BogdanCerovac commented on #2413
This one seems to be a bit more complex - although placeholder is accessible to assistive tech, it may be having other problems when used in combination - without visible label for example. So I guess it is not enough to only say it is a false positive.

This article describes the details that I think we should consider: https://www.deque.com/blog/accessible-forms-the-problem-with-placeholders/

I

[2020-08-09 19:53] erikkroes commented on #2413
Whether a placeholder is advisable or not (please don't), the feedback from Axe is a false positive in the context of WCAG. When contrast is an issue, it should report that.

[2020-08-10 00:54] iamrafan opened #2441 "False positive: "definition-list" and "dlitem" rules fail when a <strong> tag is used"
When a ```<strong>``` tag is used inside a ```<dl>``` and as a parent of a ```<dd>``` element, both ```definition-list``` and ```dlitem``` rules fail despite the ```<strong>``` tag being ignored (not exposed) in the accessibility tree

Expectation: ```definition-list``` and ```dlitem``` rules to not fail this usage

Actual: Both ```definition-list``` and ```dlitem``` rules fail

Motivation: Since

[2020-08-10 10:38] WilcoFiers commented on #2441
I'm not sure why that would be a false positive. This is invalid HTML. If someone was to write a custom stylesheet to highlight definitions lists, this markup would create problems because the content model isn't respected.

[2020-08-10 10:40] WilcoFiers commented on #2439
Hey @RCopeland, can you provide the page where this problem happened? This is going to be hard to debug otherwise.

[2020-08-10 10:43] WilcoFiers commented on #2430
@iamrafan what would really help move this forward is an understanding of known bugs in Narrator.

[2020-08-10 15:49] WilcoFiers commented on #2421
Hey @eps1lon, apologies for the slow response.

Yes, you're right, my bad.

Each new rule should be in a new PR.

[2020-08-10 17:01] BogdanCerovac commented on #2413
That's why I am against your suggestion in the first place - "please don't will soon be forgotten" as multiple users will argue that automatic tools don't report it as an issue, I am afraid.

It has the potential to encourage bad practices because it can be interpreted as if placeholder alone is enough. But it is not - in my opinion - because it can not guarantee a "persistent" label (in this case

[2020-08-10 21:20] straker commented on #2146
@padmavemulapati The bypass rule requires a link on the page, so you'll need to test with one

[code]

[2020-08-10 21:53] straker commented on #2439
Running axe-core directly on the page from the image doesn't result in an error. Testing it with the extension results in the issue, so my guess is it's something to do with the iframes on the page.

[2020-08-11 18:47] aloverso opened #2443 "False positive: MaterialUI native select incorrectly triggering "duplicate-id-aria""
Expectation: An element with a single unique `id` should not trigger the "duplicate-id-aria" property

Actual:

When using MaterialUI Native Select, the id property is triggered despite no clear reason.

The React MaterialUI Code becomes this HTML:
[code]

The axe error is:
[code]

In the HTML, there is only one element with id "sortby", which is the select element referenced above.  For some reas

[2020-08-11 20:06] straker commented on #2443
Interesting. The code provided does not trigger the error nor does going to the select component docs https://material-ui.com/components/selects/. I'm not sure what's going on, but maybe the React code has a double output for some reason during the run?

[2020-08-12 00:13] lamaks opened #2445 "[Bug] Axe-core hangs when scanning page with large text"
Axe-core hangs when scanning page with large text. The [page](https://powerbi.microsoft.com/en-us/desktop-3rd-party/) contains large legal text and relatively simple. Please investigate performance issue. Thanks!

axe extension 4.5.3
axe-core 3.5.5
Chrome 84.0.4147.105
Mac OS 10.15.6

[2020-08-12 13:22] aloverso commented on #2443
Thank you for your advice. I discovered the problem was with the way the rest of the React code was creating the page and hidden elements, not an issue withe the library. Thanks

Closing.

[2020-08-12 13:22] #2443 closed

[2020-08-12 15:28] straker commented on #2445
Alright, looked into this. After some debugging, the largest problem with the performance of that page is generating the selectors at the end of a run. Since the page is all like 20,000 `<p>` tags, it takes even longer than usual as there is nothing unique about each one.

After that, it looks like color-contrast is a bit slow as well. Commenting out the selector part, a run takes ~30s to run all

[2020-08-12 15:53] straker commented on #2428
It appears our docs our not correct and you can indeed pass a function to `axe.configure({ reporter })` and axe will use that reporter. I will make sure to add this to the docs.

[2020-08-12 16:23] WilcoFiers commented on #2413
The `label` rule has a bit of a misleading identifier. The purpose of it is to check if a form control has an accessible name. As long as `autocomplete` does that in a way that is widely supported, that passes what axe-core tests in this rule. I get the issue with autocomplete, but it isn't inherently inaccessible, as long as there is some alternative. A common example of it would be if the field

[2020-08-13 01:52] aldosuwandi commented on #2428
I looked at the code a bit, and yes! It does enable us to pass a function!

Currently, I'm working with axe-webdriverjs, and I tried to pass this custom reporter function through the provided configuration ([AxeBuilder.configure()](https://github.com/dequelabs/axe-webdriverjs#axebuilderconfigureconfigobject)). However, the framework doesn't let us pass a JS object into the configure() method since

[2020-08-13 09:47] padmavemulapati commented on #2146
Verified with the given test file - seeing the bypass rule failure

![image](https://user-images.githubusercontent.com/47409579/90120089-02bd5d00-dd78-11ea-972b-ebcc0eaffd28.png)

[2020-08-13 09:52] WilcoFiers opened #2446 "Rule idea: Should SVG text without an SVG background fail?"
Noticed this when we were researching if SVG text should be treated as an "image of text" (SC 1.4.5). If you use windows high contrast mode you can change the colors of the page, but you can't change the colors of SVG that way. If you have an SVG text on an HTML background, the HTML background color will be modified in high contrast mode, but the SVG text color will not, thus creating something ak

[2020-08-13 12:12] iamrafan opened #2447 "Make color-contrast failures on role tab elements with tabindex=-1 and opacity property as needs review"
Currently, role ```tab``` elements with tabindex=-1 and with opacity at a certain level fail ```color contrast``` rule. But in cases like
 breadcrumb menus, opacity might be used to depict parts of the menu as inactive. Please consider making such failure instances as needs review instead of failures

Expectation: Do not fail this use case for ```color-contrast``` rule and show it as needs review

[2020-08-13 19:35] BogdanCerovac commented on #2413
OK, I get all the points made here, but I still can not agree with it as it will most probably encourage (even more) "placeholder abuse" if it will not consider the context around elements as well.

Assistive tech. reading the placeholder as label is one thing but then again, using placeholder as only "label" will not be accessible for sighted users with for example short memory problems.
And auto

[2020-08-14 01:24] pasca15 commented on #1977
same issue encountered

[2020-08-14 04:49] SandersAaronD opened #2449 "Dead Links in Developer Guide"
This is a pure documentation issue I came across while familiarizing myself with the project; developer-guide.md contains a number of dead links. These are:
[code]
I suspect these refer to parts of the repository removed during a refactor, but I'm not familiar enough to be sure.

[2020-08-14 05:34] placetobejohan opened #2450 "aria-valid-attr-value: allow numbers with comma as decimal separator"
Numbers that use a comma as decimal separator - eg **aria-valuenow="68885,8"** - now trigger the [[aria-*] attributes do not have valid values](https://web.dev/aria-valid-attr-value/) error.

I wonder if it's possible to allow the comma as a decimal separator, perhaps based on the current UI culture?

[2020-08-14 09:47] WilcoFiers commented on #2450
Hey @placetobejohan, using comma as decimal separator doesn't work. Browsers will just ignore whatever comes after the comma. You have to use a dot, not a comma. The ARIA spec defers handling of numbers to HTML, which unfortunately doesn't have a definition of number, but browsers seem be consistent in using JavaScript's praseFloat method for this.

You can read the definition of it here:
https://

[2020-08-14 09:47] #2450 closed

[2020-08-14 09:52] WilcoFiers opened #2451 "Split the non-empty-title fail message"
The non-empty-title failure message describes two states in one message:

It would be better if there were two separate messages:

This can be done using `this.data({ messageKey })` in the evaluate method, and converting the fail message to an object. See `checks/language/has-lang.json` for an example.

[2020-08-14 10:01] WilcoFiers commented on #2447
I don't think I agree with you on that one. Technically, this isn't a color contrast issue, but this button doesn't properly express its state, which is still a failure of WCAG (4.1.2 specifically). Putting `tabindex="-1"` on a button doesn't disable it. Screen reader users will still have access to it. You need to give that button `aria-disabled="true"` to communicate the intent. If you do that,

[2020-08-14 10:02] WilcoFiers commented on #2449
Thanks for reporting! Would you be up for submitting a pull request?

[2020-08-14 10:05] WilcoFiers opened #2452 "Clarify svg-non-empty-title fail message"
There are two things which will cause the `svg-non-empty-title` check to fail. Either the SVG does not have a title, or the title is empty. The fail message only describes the first case. This can be confusing. We can fix this by using `messageKey` and splitting the fail message into two.

Info on how to do this is described in a closely related issue #2451

[2020-08-14 10:07] WilcoFiers opened #2453 "Split the non-empty-alt fail message"
Very similar to #2451, but for the non-empty-alt check.

[2020-08-14 10:17] WilcoFiers opened #2454 "role-none / role-presentation should consider conflict resolution"
**expectation**:

The role-none / role-presentation checks should fail if the element is focusable or if the element has a global ARIA attribute. It should provide a specific fail message (using `messageKey`) that explains that the role is ignored because it is focusable / has a global aria attribute.

This failure is because those roles get ignored by browsers, as describe in [presentation role c

[2020-08-14 10:25] WilcoFiers commented on #2267
@nonplus Are you still interested in submitting a PR? It's been a bit busy with the 4.0 release, but now that's behind us. This would be a neat addition. We'd definitely want to cache the result, other then that, this looks like it might work.

[2020-08-14 11:22] placetobejohan commented on #2450
Perhaps I should've been more specific or I came to the wrong conclusion.

The issue I have is that elements like this one

`
<input type="text" class="k-formatted-value numeric k-input" title="0,3400 €" tabindex="0" role="spinbutton" aria-valuemin="0" autocomplete="off" aria-disabled="true" disabled="disabled" aria-valuenow="0,34" style="display: inline-block;">
`

are marked with 'invalid value'

[2020-08-14 17:39] #2146 closed

[2020-08-14 21:34] SandersAaronD commented on #2449
I can, it might take a bit because I'll need to figure out if these need to be taken out or redirected to point somewhere else.

[2020-08-15 02:58] jasonchg86 commented on #1977
15/08/2020 What i did is i remove unwanted Chrome extensions in url: chrome://extensions/. You may try it because it works for me.  You can also identify which chrome extension is causing the error.

[2020-08-16 13:54] WilcoFiers opened #2456 "valid-lang should fail lang=" ""
Lang attributes with whitespace cause problems in screen readers. Because of that, the `valid-lang` rule should fail the following code snippet:

[code]

Because updating the has-lang check to fail with whitespace-only content, we'll need to change the `has-lang` check to not fail when it is passed whitespace text.

[2020-08-16 13:55] WilcoFiers opened #2457 "Add rules for ARIA tables / grid"
Axe-core has no rules that test ARIA grid / tables like this:

[code]

[2020-08-16 13:58] WilcoFiers opened #2458 "Consider role in the label rule"
The following code snippets should not fail the `label` rule. This can be fixed by adding the role-none and role-presentation checks to that rule (as well as a few integration tests).

[code]

[code]

[2020-08-16 14:01] WilcoFiers opened #2459 "Link-name should allow titles"
In axe-core 4.0 we changed how has-visible-text behaves. It now only looks at content, not at accessible name props for things. Because of that, the following code snippet now fails the link-name rule:

[code]

The reason for this is that the `non-empty-title` check is not used in the `link-name` rule (as as it is for things like `button-name`). I vaguely remember we did that because we didn't wan

[2020-08-16 14:11] WilcoFiers opened #2460 "aria-valid-attr-value mark missing aria-errormessage for review"
Instead of failing the the aria-valid-attr-value rule, the following should be marked for review. This should happen in the aria-errormessage check.

[code]

Essentially, what needs to change is that we check for aria-errormessage if the target of the attribute exists in the DOM, and if it does not, return undefined to mark it for review, and add an incomplete message to the JSON file.

[2020-08-17 06:20] scribetw opened #2461 "ARIA attribute is not allowed: aria-selected="true" on a gridcell element"
https://a11ysupport.io/tests/html/aria_gridcell(aria-selected).html
[code]

Expectation: No "aria-allowed-attr" violation.

Actual: An "aria-allowed-attr" violation: Fix any of the following:  ARIA attribute is not allowed: aria-selected="true"

Motivation:
1. It passed in 3.5.5.
2. According to this [note](https://www.w3.org/TR/wai-aria-practices/#h-note-14), it is not necessary to use ARIA roles

[2020-08-17 13:07] 14iq commented on #1977
i am using brave too.

[2020-08-17 14:24] straker commented on #2461
Thanks for the issue. The problem looks like we don't look for a parent `grid` in our [implicit role calculation](https://github.com/dequelabs/axe-core/blob/develop/lib/commons/standards/implicit-html-roles.js#L159) so the `td` is being resolved with a role of `cell` instead of `gridcell`.

As a side note, we'll need to do the same thing for `tr`.

[2020-08-17 14:38] #2449 closed

[2020-08-17 22:22] iamrafan commented on #2447
Sure, I agree that ```aria-disabled``` must be used, but I filed this issue because it looks like a false positive to fail 'color-contrast' on this use case.

I am closing this issue. Will re-open it later, if requried.

[2020-08-17 22:22] #2447 closed

[2020-08-17 22:34] iamrafan commented on #2441
Sure, but at least in the current state with out the style sheet shouldn't we consider making this a "needs review"? as seems to have no impact on screen reader experience as well

[2020-08-18 17:48] DaveTryon commented on #2459
@WilcoFiers, any thoughts on when a release might be published with this? We're working towards using axe-core 4.0.1 in Accessibility Insights and are trying to determine our best options. Thanks!

[2020-08-19 06:40] placetobejohan commented on #2450
The issue seems to be with kendo here, they should generate a valid aria-valuenow independent of which culture is being used.

[2020-08-19 15:51] straker commented on #2461
The implicit role calculation needs to be updated for `td` by turning it into a function (rather than strings). The function accepts `vNode` as an argument. The function should look for the `closest` table element and look at its explicit role (`getExplicitRole`). If the role is `grid` or `treegrid` it should return `gridcell`, otherwise return `cell`.

[2020-08-19 22:13] straker commented on #2428
Interesting. It would seem that even if `axe.configure` allows the feature, we have to stringify it to make it work with script injections into iframes. I'm not sure we could support configuration with functions if that's the case...

[2020-08-20 08:21] eps1lon commented on #1942
This would then violate HTML.

Either way we break one spec or another. We're going to re-evaluate our pattern since it's the usual "design for sighted, bolt on a11y later" approach. It isn't clear to me how  a user with a screen reader would expand this list while navigating it anyway.

[2020-08-20 22:23] straker commented on #2107
New roles for ARIA 1.2

* [blockquote](https://www.w3.org/TR/wai-aria-1.2/#blockquote)
* [caption](https://www.w3.org/TR/wai-aria-1.2/#caption)
* [code](https://www.w3.org/TR/wai-aria-1.2/#code)
* [deletion](https://www.w3.org/TR/wai-aria-1.2/#deletion)
* [emphasis](https://www.w3.org/TR/wai-aria-1.2/#emphasis)
* [insertion](https://www.w3.org/TR/wai-aria-1.2/#insertion)
* [meter](https://www.w3.o

[2020-08-20 22:50] straker opened #2465 "Update heading-order-evaluate method to work with virtualNode"
The [heading-order-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/navigation/heading-order-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods and properties to get the attribute and

[2020-08-20 22:57] straker opened #2466 "Update internal-link-present-evaluate to work with virtualNodes"
The [internal-link-present-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/navigation/internal-link-present-evaluate.js) function should work with `virtualNode` rather than `actualNode`. Update the regexp test to use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll also need t

[2020-08-20 22:59] straker opened #2467 "Update meta-refresh-evaluate to work with virtualNodes"
The [meta-refresh-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/navigation/meta-refresh-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll also need t

[2020-08-20 23:01] straker opened #2468 "Update unique-frame-title-evaluate to work with virtualNodes"
The [unique-frame-title-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/navigation/unique-frame-title-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll

[2020-08-20 23:08] straker opened #2469 "Update caption-evaluate to work with virtualNodes"
The [caption-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/media/caption-evaluate.js) function should work with `virtualNode` rather than `node`. Update the `tracks.some` function to not use `actualNode` property and instead use `vNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods  to get the

[2020-08-20 23:13] straker opened #2470 "Update structured-dlitems-evaluate to work with virtualNodes"
The [structured-dlitems-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/lists/structured-dlitems-evaluate.js) function should work with `virtualNode` rather than `actualNode`. Replace the `children[i].actualNode.nodeName` line to not use the `actualNode` property and instead use instead use `vNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/li

[2020-08-20 23:15] straker opened #2471 "Update xml-lang-mismatch-evaluate to work with virtualNodes"
The [xml-lang-mismatch-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/language/xml-lang-mismatch-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll als

[2020-08-20 23:18] straker opened #2472 "Update duplicate-img-label-evaluate to use virtualNode"
The [duplicate-img-label-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/label/duplicate-img-label-evaluate.js) function should pass `virtualNode` to `getRole` rather than `node`.

The tests should not need updating.

[2020-08-20 23:20] straker opened #2473 "Update title-only-evaluate to work with virtualNodes"
The [title-only-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/label/title-only-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function to use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attributes.

The tests should not need updating.

See [non-empty-i

[2020-08-20 23:23] straker opened #2474 "Update tabindex-evaluate to work with virtualNodes"
The [tabindex-evalute](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/keyboard/tabindex-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll also need to update th

[2020-08-20 23:25] straker opened #2475 "Update aria-hidden-body-evaluate to work with virtualNodes"
The [aria-hidden-body-evaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/aria/aria-hidden-body-evaluate.js) function should work with `virtualNode` rather than `node`. Update the function call to use `virtualNode` and use [virtual-node](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js) methods to get the attribute.

You'll also need

[2020-08-21 12:32] #998 closed, assigned to nobody

[2020-08-21 12:40] #948 closed, assigned to nobody

[2020-08-21 12:47] #1297 closed, assigned to dylanb, WilcoFiers

[2020-08-24 06:23] Payne-Yan opened #2478 "Ensures elements with an ARIA role that require child roles contain them"
Expectation: Ensures elements with an ARIA role that require child roles contain them (#DatePicker50-label).

Actual: Elements with an ARIA role that requires child roles do not contain them (#DatePicker50-label).

<pre><code>
axe-core version: 3.5.1
chrome extension -> Accessibility Insights for Web: 2.20.0

[2020-08-24 06:32] Payne-Yan commented on #2478
Steps:
1. Open https://developer.microsoft.com/en-US/fluentui#/controls/web/datepicker
2. Navigate to date picker combobox and select the picker, calendar pops up will appear, navigate on the pop, and select date.
3. Open accessibility insights for web tools and select fast pass options.
4. Verify, whether the elements with an ARIA role that require child roles contain them(#DatePicker50-label) or

[2020-08-24 11:35] padmavemulapati commented on #2452
Verified with the test file `<svg id="target" ></svg>` , which is having no titile , and also
`<svg id="target"><title></title></svg>` , which has empty title, in both cases i am not seeing any failure message.
@straker  / @WilcoFiers can anyone please provide inputs to reproduce the issue.

[2020-08-24 11:42] padmavemulapati commented on #2458
Verified in the latest code - `label` is passing when   role-none and role-presentation  `<input role="none" disabled />` and also
`<input role="presentation" disabled />`
and at the same time failure is there for `aria-allowed-attribute` , which is expected.
![image](https://user-images.githubusercontent.com/47409579/91040952-c4078c80-e62c-11ea-93d9-eea8900021b9.png)

[2020-08-24 14:27] straker opened #2479 "Improve performance of color-contrast-matches"
The color contrast matches function took 30s on a page with 30,000 `<p>` tags. We should investigate ways to improve its performance.

See https://github.com/dequelabs/axe-core/issues/2445.

[2020-08-24 17:11] straker commented on #2465
No qa/docs required.

[2020-08-24 17:11] #2465 closed

[2020-08-24 19:28] straker commented on #2478
So I dug into this. The input field as a `combobox` requires that it owns one either a `listbox` or a popup role of `dialog`, `grid`, or `tree`. The input field does not designate that it has a popup using `aria-haspopup="dialog"`, we expect there to be a `listbox`. Furthermore, even with the `aria-haspopup` attribute, the input field does not own the associated dialog as it does not use `aria-own

[2020-08-24 19:52] jschuler opened #2480 "aria-sort not allowed in th"
Hi, when i run axe-core 4.0.1 it mistakenly reports that `aria-sort` is not allowed in my `th` elements

[code]

I found this related issue but maybe the fix got lost over time?
https://github.com/dequelabs/axe-core/issues/283

I am not seeing the issue with `3.5.5`.

Expectation: Not report an error about using aria-sort in th

Actual: It reports that aria-sort is not allowed in the th

Motivatio

[2020-08-25 05:34] chandana7393 opened #2481 "For Layout table rule, deprecated tag is not displayed."
**Steps to reproduce:**
1. Launch "http://qateam.dequecloud.com/axecore4/table-layout.html" Url.
2. Launch axe-coconut extension.
3. Click on the "ANALYZE" button.

**Actual:**
For "Data or header cells should not be used to give caption to a data table." violation and "All th elements and elements with role=columnheader/rowheader must have data cells they describe" needs review, deprecated tag is

[2020-08-25 14:47] straker commented on #2481
I'm sorry, I don't quite follow. The rule that is failing `th-has-data-cells` is not deprecated. All deprecated rules/checks were removed in 4.0.

[2020-08-25 14:54] padmavemulapati commented on #2481
@chandana7393  - the rules you mensioned are not deprecated rules. what it is showing the results in axe-coconut are correct and those are not related to `layout-table` rule.

[2020-08-25 16:39] paulweight opened #2482 "Runtime issue: TypeError: Cannot read property '3' of undefined"
<< Please describe how you encountered this issue >>

[code]

[2020-08-25 16:54] chandana7393 commented on #2481
@straker Can you please provide me with the code snippet (or) any test file-related to layout table rule? that could help me a lot.

[2020-08-25 16:56] straker commented on #2481
We do not have a rule for layout-table https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md. What exactly are you trying to test?

[2020-08-25 16:57] straker commented on #2482
Could you provide a with a link to the website that throws the error or a code snippet that reproduces it? Without that I'm unable to figure out what's going on and try to fix it.

[2020-08-25 17:00] straker commented on #2481
We removed the layout-table rule in axe-core 4.0.0 https://github.com/dequelabs/axe-core/releases/tag/v4.0.0

[2020-08-25 17:21] chandana7393 commented on #2481
So, basically I am testing the breaking changes of axe-core 4.0 in that layout-table got deprecated, I just want to check what is this rule in the previous axe-core versions, For that I require a test file (or) code-snippet of layout-table.
![layout_table_axe_changelog](https://user-images.githubusercontent.com/45285854/91206829-a8e45d80-e6bc-11ea-81aa-06abfd37f419.PNG)

[2020-08-25 17:26] chandana7393 commented on #2481
@straker this link is helpful thank you

[2020-08-25 22:16] straker commented on #2480
Interesting. I'm not able to reproduce with the following code snippet. Could you provide a website or code snippet that shows the error?

[code]

[2020-08-25 22:27] amiralitaheri opened #2483 "axe-core Error: Cannot read property 'filter' of undefined"
Running Lighthouse accessibility on [this url](https://amiralitaheri.ir/blog/2020/08/%DA%86%DA%AF%D9%88%D9%86%D9%87-%D8%AF%D8%B1-%D8%A8%D8%A7%D8%B2%DB%8C%D9%87%D8%A7%DB%8C-gameecom-%D8%AA%D9%82%D9%84%D8%A8-%DA%A9%D9%86%DB%8C%D9%85/), fails due axe-core error.

Actual:
![Annotation 2020-08-26 021054](https://user-images.githubusercontent.com/45509862/91233793-2f458180-e747-11ea-9bb4-a82787645460.pn

[2020-08-25 22:34] straker commented on #2483
Can reproduce this. Seems the issue is with color contrast and the very long horizontal scroll of the Burp captured package output. We try to calculate the rect of the long string of text and calculate it using the full width and not the width of the container, causing our code to think it's much further to the right than it is.

[2020-08-25 22:35] straker commented on #2481
Closing as I believe we resolved this.

[2020-08-25 22:35] #2481 closed

[2020-08-26 08:46] AlainVagner opened #2484 "Typos in french translations"
I have detected several issues in the french translations:

- basic typos: "assig**m**é" -> "assig**n**é"
- frequent usage of "S'assure que" which is not a correct imperative form (in french, the imperative form is only available for "tu", "nous", "vous") Here the infinitive form seems more appropriate.
- use of subjunctive forms, which are here to be avoided
- typography: use of ' and ’ could be

[2020-08-26 13:39] WilcoFiers opened #2486 "Axe-core releases are tagged incorrectly"
Instead of the commit where the version number is bumped, the parent of that commit is tagged as the release. This causes the download link in the Github releases to not be the actual version that was released. I'm not entirely sure what the cause of this is, but perhaps what we should do is not have standard-version tag the release, and instead have the github_release script create the tag if it

[2020-08-26 15:40] shankarshastri commented on #2475
@straker , I was trying to fix this.

**aria-hidden-body.js**
[code]

**aria-hidden-body-evaluate.js**
[code]

But when I run `npm run test`, I currently get
[code]
Can you please let me know how I can proceed?

[2020-08-26 16:15] straker commented on #2475
Awesome, thanks for taking this on. I believe the issue is that `queryFixture` returns the virtual node with the id of `target`, so all your DOM strings should just have to add `id=target` to them.

[2020-08-26 16:25] shankarshastri commented on #2475
@straker , Thanks will raise PR soon !!

[2020-08-26 16:29] shankarshastri commented on #2475
@straker , tried the same as well, still having the same error. Will push it to a branch. And then we can continue to discuss on the draft PR.

[2020-08-26 16:51] PICARDBRB opened #2488 "label on button elms should have an "unsupported" message"
Should the button-name rule include the label/for markup pattern for pass criteria?
`<label for="labelfor">Name</label>
<button id="labelfor"></button>`

Expectation: No violation reported

Actual: reports violation "Buttons must have discernible text"

Motivation:
- Use of label/for on button element is valid html markup pattern that is not recognized.
- Provide accurate reporting of violations

[2020-08-26 17:39] anuk79 commented on #2474
Hi @straker : Can I pick this issue if it is available?

[2020-08-26 19:07] shankarshastri commented on #2474
@anuk79 , I have started working on this one. Sorry for the late comment !!

[2020-08-26 19:10] anuk79 commented on #2474
Np. :)

[2020-08-26 19:14] anuk79 commented on #2472
@straker can I work on this issue if no one else is working on it?

[2020-08-26 19:15] straker commented on #2472
It's yours.

[2020-08-26 19:35] xyc commented on #2469
hi @straker , is there a way to make `querySelectorAll` to return vNodes from a `vNode` input?

[captionEvaluate](https://github.com/dequelabs/axe-core/blob/develop/lib/checks/media/caption-evaluate.js) doesn't seem to use the `node` param, and `actualNode`s are returned from `querySelectorAll` on `virtualNode`.

[2020-08-26 19:38] straker commented on #2469
Correct. The change should just be to not use the `actualNode` property of the vNode returned from `querySelectorAll` and instead use the vNode directly and it's functions. Something like

[code]

[2020-08-26 19:40] straker commented on #2475
No qa/docs needed.

[2020-08-26 19:40] #2475 closed

[2020-08-26 19:40] straker commented on #2474
No qa/docs needed.

[2020-08-26 19:40] #2474 closed

[2020-08-26 19:42] #2473 closed

[2020-08-26 19:42] straker commented on #2473
No qa/docs needed.

[2020-08-26 20:18] xyc commented on #2469
Gotcha, thanks for the explanation. I was somehow thinking that [`querySelectorAll`](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#returns) was returning actual nodes when I looked at the API doc. Will make a PR from your suggestion.

[2020-08-26 20:40] #2469 closed

[2020-08-26 20:41] straker commented on #2469
No qa/docs required.

[2020-08-26 22:14] xyc commented on #2456
@WilcoFiers Should `valid-lang` also fail with an empty string? (`lang=""`) It seems to allow empty string because of what happens on Edge.

https://github.com/dequelabs/axe-core/blob/32888d43d72bc2484e2c00b5f00fb27d92ac62b5/lib/checks/language/valid-lang-evaluate.js#L15-L19

[2020-08-27 06:10] smhigley commented on #2478
(I'm mostly responding to @WilcoFiers' comment over here: https://github.com/microsoft/fluentui/issues/14461#issuecomment-680778152)

@WilcoFiers I definitely agree that the Fluent pattern isn't perfect :). Its issues aren't related to the aria-required-children error, though. You can see the same error on all of the APG 1.2 combobox patterns, which do have all the correct attributes set (though a

[2020-08-27 13:12] shankarshastri commented on #2468
@straker , I was taking a look at this one. But wasn't sure what should be done w.r.t virtual node in this case. as the title is passed as a JSON object.

[2020-08-27 14:19] straker commented on #2468
Are you talking about the tests? The tests shouldn't pass a fake "node" object but instead create actual virtual node (using `queryFixture` or something similar) and pass that as other tests have done. Probably use `iframes` as the element as that is what the check is suppose to be checking (even though it doesn't matter for the check what the element actually is).

[2020-08-27 15:22] straker opened #2497 "Investigate chrome-mobile test failures"
Chrome-mobile started failing all of a sudden consistently on a [few color-contrast commons checks](https://app.circleci.com/pipelines/github/dequelabs/axe-core/1123/workflows/c31e2b00-b6e9-41fb-9f9a-b09eee5f842d/jobs/21485). We haven't changed anything in color-contrast and prs prior passed without issues. Locally testing chrome using mobile emulation with the [same dimensions as our test setup](

[2020-08-27 16:24] masi opened #2499 "Test for color-contrast of OPTION elements"
Expectation:
`<option style="color:#fff;background-color:#fff">` triggers an error.

Actual:
No error is triggered.

Motivation:
Chromium based browsers support setting color and background-colors of OPTION elements.

<pre><code>
axe-core version: 3.5.7
browser-plugin: 4.5.3 (Chromium on Linux)
</code></pre>

[2020-08-28 12:41] WilcoFiers commented on #2028
@iamrafan any thoughts?

[2020-08-28 15:17] straker commented on #2499
Interesting. I'm not seeing Chrome setting the color or background color of the `option` element.

![image](https://user-images.githubusercontent.com/2433219/91583997-3ae3a480-e90f-11ea-8d1e-61c048f976b9.png)

[2020-08-28 15:24] straker commented on #2488
Thanks for the suggestion. We did [some testing of this pattern](https://github.com/dequelabs/axe-core/issues/1393) awhile back and concluded that JAWS and Dragon Naturally Speaking do not support the pattern very well. Because of that, we decided not to support the pattern.

If JAWS and Dragon support has changed in the last year we'd be happy to look at this again.

[2020-08-28 16:12] WilcoFiers commented on #2488
It might be good to have an explicit message that reports this as "not widely supported".

[2020-08-28 16:16] WilcoFiers commented on #2478
@smhigley Thank you for sharing this! That's very helpful. We're looking at what we're going to do with this. Definitely sounds like we should include the ARIA 1.2 pattern, we'll need to decide what happens with existing implementations though.

[2020-08-28 17:41] #2470 closed

[2020-08-28 17:41] straker commented on #2470
No qa/docs required.

[2020-08-28 17:42] straker commented on #2468
No qa/docs required.

[2020-08-28 17:42] #2468 closed

[2020-08-28 17:42] straker commented on #2471
No qa/docs required.

[2020-08-28 17:42] #2471 closed

[2020-08-28 17:43] straker commented on #2467
No qa/docs required.

[2020-08-28 17:43] #2467 closed

[2020-08-28 17:55] straker commented on #2484
No qa/docs required.

[2020-08-28 17:55] #2484 closed

[2020-08-29 17:51] FazeelUsmani commented on #1977
Same issue here

[2020-08-31 18:45] masi commented on #2499
Odd, I can:

[code]
![Bildschirmfoto vom 2020-08-31 20-42-53](https://user-images.githubusercontent.com/690355/91755133-e704e400-ebca-11ea-943b-dbd2e53391b1.png)

[2020-08-31 19:14] straker commented on #2499
What browser/version are you using? Any flags enabled? I'm using Chrome 85.0.4183.83, no flags.

[2020-08-31 19:17] PICARDBRB commented on #2488
Can you look at this again?  I did some testing with JAWS 2020, EDGE and Chrome, also Narrator with Edge.

**In all cases the following pattern is recognized and identifies button name: <label for="labelfor">Name</label> <button id="labelfor"></button>**

I also tested combination with buttons coded at: [https://chalk-agenda.glitch.me/](url)
- JAWS2020/Chrome: could not recognize name for button 7

[2020-09-01 08:59] masi commented on #2499
Version 85.0.4183.83 (Offizieller Build) (64-Bit) on Fedora (Linux)
Version 84.0.4147.125 (Offizieller Build) (64-Bit) on Windows 10

I assume that macOS has a stronger policy regarding the styling of system widgets.

IE11 can set the colours on Windows 10.
Firefox 80.0 will set the colours on Windows 10 but not on Linux.

[2020-09-01 15:57] straker opened #2502 "image with empty alt and global aria-attribute should not pass the image-alt rule"
The following code snippet should not pass the `image-alt` rule. The problem is that our `has-alt` check passes as the image has an empty alt, but the image is not considered presentational because of role conflict resolution of the global `aria-label` attribute.

[code]

[2020-09-02 18:41] stevenyxu opened #2505 "Permit ARIA 1.2 combobox (without textbox child)"
Expectation: A compliant ARIA 1.2 (draft) combobox should not raise axe violations.

Actual: ARIA 1.2 combobox raises aria-required-children violation. Demo: https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html. Currently raises 1 violation, aria-required-children.

Motivation: ARIA 1.2 is redefining combobox ([draft spec](https://www.w3.org/TR/wai-aria-1.2/#combobox))

[2020-09-02 22:21] mcking65 commented on #2478
We don't yet have any screen reader testing in a better format yet. We will soon (next 2 or 3 months) have combobox included in [aria-at testing](https://aria-at.w3.org).

I recommend that you give a warning that is advisable to replace aria-owns with aria-controls and place the combobox role on the input. Any kind of AXE response that nudges people to use the 1.2 format, which is essentially iden

[2020-09-02 22:27] smhigley commented on #2478
Thanks @mcking65! Right now, I'd just be happy if axe didn't flag the 1.2 pattern as an error 😅.

@WilcoFiers if testing results are a blocker, I could probably find time to do some and post them here. From last time, I suppose the TL;DR is that VoiceOver was the only screen reader that had issues (and even then, the 10.14 version of VO worked OK, so it might just be a 10.15 regression).

[2020-09-03 15:21] GauZen commented on #1977
here same issue too

[2020-09-03 15:44] straker commented on #2466
Sure thing, all yours.

[2020-09-03 15:58] straker commented on #2505
Thanks for the issue. We've been discussing this very pattern over in #2478. The TL;DR is that we want to support the pattern, but we need to figure out what to do with the old 1.1 pattern first.

[2020-09-03 16:26] straker commented on #2499
Alright, did some testing of this:

* Mac
  * Chrome- no support
  * Safari- no support
  * Firefox- supports
* Win10
  * Chrome - supports
  * Firefox - supports
  * IE11 - supports
  * Edge - supports

So it seems Chrome and Safari are the only ones not supporting it. The main problem I foresee is that there is no way to tell if the current browser supports the pattern. Doing `window.getComputed

[2020-09-03 16:29] straker commented on #2482
Closing as without more details we cannot do anything about this. Please feel free to reopen with more details.

[2020-09-03 16:29] #2482 closed

[2020-09-03 16:34] straker commented on #2457
Could you expand on what the rule would check? Our aira-required-children/parent rules already check the structure is correct.

[2020-09-03 17:20] straker commented on #2488
Alright. I redid the testing. JAWS2020/IE11 still does not support the pattern (we still have to support IE11) and Dragon Naturally Speaking also still does not support the pattern. This means that anyone using Dragon cannot activate any of the buttons by their associated name.

As the results have not changed we still cannot support this pattern.

[2020-09-04 09:13] masi commented on #2499
How about telling the user that the problem may not be visible depending on browser and operating system with the information of the reported combination of colour and background colour.

[2020-09-04 10:01] Sagar-rr commented on #1977
But this will disable these warnings for my browser only. Other browser will face same issue.

[2020-09-04 14:53] straker commented on #2472
No qa/docs needed.

[2020-09-04 14:53] #2472 closed

[2020-09-04 14:56] #2416 closed

[2020-09-04 15:02] straker commented on #2339
Closing as the following code snippet passes the required-children rule. Required children should now always work if at least one child is the required role.

[code]

[2020-09-04 15:02] #2339 closed

[2020-09-04 15:05] patrickhulce commented on #2483
This error also occurs on https://www.nrk.no/sorlandet/fargesvake-ser-ikke-rod-t--onsker-seg-gul-1.15125048 if you need another repro case :)

ref https://github.com/GoogleChrome/lighthouse/issues/11384

[2020-09-04 15:17] straker commented on #1611
Closed via https://github.com/dequelabs/axe-core/pull/2234

[2020-09-04 15:17] #1611 closed

[2020-09-04 15:18] straker commented on #2011
I think the name of the rule is a misnomer as the `frame-title` rule looks at more than just the title (aria-label, etc.). As such, I think this falls more under #1006 so am going to close and link to that one as another rule we need to update the name to.

[2020-09-04 15:18] #2011 closed

[2020-09-04 15:19] straker commented on #2082
Closing as without more details we cannot do anything about this. Please feel free to reopen with more details.

[2020-09-04 15:19] #2082 closed

[2020-09-04 15:21] #2149 closed

[2020-09-04 18:08] BogdanCerovac commented on #2483
For https://www.nrk.no/sorlandet/fargesvake-ser-ikke-rod-t--onsker-seg-gul-1.15125048

Raw Lighthouse CLI JSON report: https://pastebin.pl/view/a1fa102e
Raw aXe core CLI JSON report: https://pastebin.pl/view/339da0f9

Did not get any errors in the terminal (verbose mode).

[2020-09-06 19:51] ecureuill opened #2507 "Test breaks and page freezes on axe-beta"
<pre><code>
axe-core version: 4.5.3
Chrome version:  84.0.4147.89
Debian

</code></pre>

I'm facing a issue when running tests in a specific page.

For instance, when running the keyboard test, it stops as there is no more element in tab order whenever it tries to tab in the component bellow (code sample).
Then, while I'm selecting the skipped elements as soon I click on any button of this compone

[2020-09-08 21:06] just-boris opened #2508 "th-has-data-cells fails on empty tables"
I ran my pages using axe checker and it seems to fail on empty tables:

[code]

Live demo https://jsbin.com/pewali

Expectation: axe handles this table and does not report `incomplete` checks

Actual: axe stumbles on this table and reports `incomplete` check

Motivation: Incomplete checks still require attention and should not give false-negatives

<pre><code>
axe-core version: 3.5.5
chrome-extens

[2020-09-09 16:11] WilcoFiers commented on #2508
Yup, you seem to have found a bug! Thank you for reporting. We'll definitely fix this.

[2020-09-09 16:12] WilcoFiers commented on #2507
Thank you for reporting. We'll take a look!

[2020-09-09 16:13] straker commented on #2508
Note on the bug: It seems our `getHeaders` and `getCellPosition` functions do not take into account row/col-span. So when we look at the cells for the 2nd and 3rd headers and ask what the header of those cells are, it only returns the first header and not the other 2, so we fail saying that the cell points to a different header.

[2020-09-09 16:36] WilcoFiers opened #2511 "Add ARIA graphics module roles"
These roles are unknown in axe-core:
https://www.w3.org/TR/graphics-aria-1.0/

We need to check if they are supported, especially for IE I have my doubts, so we may need to flag them as unsupported.

[2020-09-09 16:46] WilcoFiers commented on #2511
Never mind, duplicate #1189

[2020-09-09 16:46] #2511 closed

[2020-09-09 23:01] ljosberinn opened #2513 "[aria-required-parent] invalid false positive"
Expectation: HTML [here](https://codesandbox.io/s/silly-sanderson-0ro1t?file=/index.html) passes just fine

Actual: does not pass `.toHaveNoVioliations` through `jest-axe`:

![image](https://user-images.githubusercontent.com/29307652/92662314-de18be80-f2fe-11ea-842c-b574108aa43e.png)

Motivation:

[HTML spec](https://www.w3.org/WAI/PF/aria-1.1/roles#menuitemradio) says:

given html matches  the 2n

[2020-09-09 23:07] straker commented on #2513
Yep, seems our [standard object](https://github.com/dequelabs/axe-core/blob/develop/lib/standards/aria-roles.js#L278) is missing `group` from required context of [menuitemradio](https://www.w3.org/TR/wai-aria-1.1/#menuitemradio)

[2020-09-10 08:25] heavenkiller2018 commented on #1977
**same problem**
[code]

[2020-09-10 15:23] straker commented on #2480
Closing as without more details we cannot do anything about this. Please feel free to reopen with more details.

[2020-09-10 15:23] #2480 closed

[2020-09-10 21:06] schne324 opened #2514 "axe should be aware of input type default of text"
regarding input type...

_from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input_

**example markup**:

[code]
(from https://returns.narvar.com/reionline/returns)

Expectation: `getRole(document.querySelector('input'))` should return `textbox`

Actual: `getRole(document.querySelector('input'))` returns `null`

I can tell this is because the above input, has an invalid type of `input.

[2020-09-10 21:17] straker commented on #2514
Should be an easy fix. Instead of looking at the [type attribute as we do now](https://github.com/dequelabs/axe-core/blob/develop/lib/commons/standards/implicit-html-roles.js#L112), we should look at the `vNode.props.type` property which is [already calculated to respect valid types and default to text](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/virtual-node/virtual-node.js#L

[2020-09-10 21:33] straker commented on #2357
I propose we should aim for axe-core to be no larger than 100kB gippzed.

[2020-09-11 00:26] stevenyxu commented on #2505
Thanks @straker. I took a look at #2478 and just want to understand the 1.1 blocker a bit better. Would it be feasible to support `role=combobox aria-controls=some-popup-id` now and exempt this node from having a required textbox and/or popup child? Thus axe permits the following (using listbox without option children for simplicity, but would extend to other popups):

* ARIA 1.0 combobox `<input

[2020-09-11 15:36] straker commented on #2505
The main blocker is that it will require special casing and an edge case of guessing.

First, which roles require owning other roles is dictated by our [aira-roles standards object](https://github.com/dequelabs/axe-core/blob/develop/lib/standards/aria-roles.js#L88). In ARIA 1.0 and 1.1, the combobox is [required to own a listbox and textbox](https://www.w3.org/TR/wai-aria-1.1/#combobox) (with 1.1

[2020-09-11 17:37] stevenyxu commented on #2505
Thanks for the discussion, @straker. That make sense to me. It's unfortunate the singular churn of combobox role makes a static mapping hard for axe. I can imagine creating a different ruleset for `[role=combobox][aria-controls]` and `[role=combobox]:not([aria-controls])` but I'm sure there may be more graceful ways to handle this. Looking forward to seeing what your team comes up with here.

My v

[2020-09-12 15:16] akinhwan commented on #2483
I'm also seeing this error on my website when trying to run a lighthouse a11y test on desktop or mobile https://soceng.netlify.app/

[2020-09-14 20:02] straker commented on #1597
Alright, just a heads up for everyone. We have this planned for the 4.1.0 release. I'm going to start working on this so should be able to have it into develop within the next couple of weeks. Thank you for your patience.

[2020-09-15 08:45] LEvisC opened #2516 "Runtime issue: TypeError: Cannot read property 'filter' of undefined"
I have a problem that accessibility score in Lighthouse is ?. But problem occur only in mobile test, on desktop all errors in section Background and foreground colors have a sufficient contrast ratio are solved. So the test for desktop is 85 %.
And the test in mobile mode is ? only on home section on other subpages is OK.

How to solve the problem?

[code]

[2020-09-15 13:56] straker commented on #2516
Thanks for the issue. Can you provide the URL to the page that is giving the error? Otherwise my only guess is it might be a similar problem to #2483

[2020-09-15 13:58] straker commented on #2513
@ljosberinn would you be interested in putting together a pr for this?

[2020-09-15 14:06] LEvisC commented on #2516
The page is fortech.si. It is very strange because on time accessibility score in Lighthouse is ? for desktop and some times is OK and it shows a score. For mobile as a wrote score is always ? ( error).

Thank you.

[2020-09-15 19:32] ljosberinn commented on #2513
Can do, got a full plate at the moment, sorry - is there more to this than literally just adding it to that array?

[2020-09-15 19:33] straker commented on #2513
That's it. Adding `'group` to the array is the entire pr.

[2020-09-15 20:35] privatmamtora opened #2519 "Github Linter "image-redundant-alt" rule not triggered"
I am playing around with the Github Axe-Linter but I can't seem to trigger the "**image-redundant-alt**" rule (Sample: https://github.com/privatmamtora/axe-test/pull/5)

I used the "bad" example from Deque University.

The rule is triggered when I use the Browser Addon to scan the page.
![image](https://user-images.githubusercontent.com/7475401/93261587-e5adec80-f770-11ea-9baa-79e3ceee6051.png)

E

[2020-09-15 20:56] straker commented on #2519
Sorry that's not working out for you. [The docs](https://axe-linter.deque.com/docs/ruleset/) is a bit misleading in that it fails to take into account which rules apply to which file types. So the image-redundant-alt rule only works in JSX at the moment and not for HTML files. This is a current limitation but we are working to increase the rules and types.

[2020-09-16 15:22] privatmamtora commented on #2519
Alright thanks, good to know.
Any chance the documentation could be made more accurate?
Something as simple as just adding `(JSX only)` after the rule.

OR a larger enhancement to [Axe-Linter](https://github.com/privatmamtora/axe-test/pull/5/checks?check_run_id=1119635395) report to list the rules/tests that were executed or skipped.

[2020-09-16 16:06] straker commented on #2329
I looked into this. The problem is our code purposefully filters out the modal because of `reduceToElementsBelowFloating`. The modal uses `position: fixed` so our code removes all of the modal to get to the elements below it. Since this was a way to remove fixed headers from the color-contrast check, I'm not sure how to fix it.

[2020-09-16 23:00] connorjclark commented on #1935
@paulirish and I are interested in this feature so that we can reduce Lighthouse's bundle size. Is there anything we could do to help?

[2020-09-16 23:04] straker commented on #1935
Glad you asked. We tried to get ahold of Paul awhile ago in regards to #2357, specifically trying to figure out how large axe-core's gizzped size should be, especially when bundled into Lighthouse. If you could help us figure that out that'd be most helpful.

Once we have a target we can figure out the best approach from there.

[2020-09-17 18:30] connorjclark commented on #1935
We're attempting to bring Lighthouse's bundle for DevTools down to 1MB unzipped. We have a document tracking this: https://docs.google.com/document/d/15DyId8C9bGnk1ZpgaIekYG_RDEC_KYNQW3Tsp6vs11Q/edit#

1 MB is a long shot for us, but the number isn't particular important, it just serves as a guide. In the same mindset, we can't provide a "real" target number for aXe, because dropping axe from Ligh

[2020-09-17 20:11] straker commented on #1935
Thanks for all the great information. I did a bit of an assessment a bit ago and here is what I found (direct copy and paste):

One of the large contributors to our increase in file size from v3.5 to v4.0 is our conversion to ES Modules, more specifically our use of Webpack. Wepbacks output structure is not very concise and adds a lot of boilerplate to function resolutions.

For example, instead o

[2020-09-18 10:03] WilcoFiers opened #2522 "Do not fail bypass block if there are no blocks to bypass"
Noticed this on a page shared on the W3C community slack:
http://af88f81315a0.ngrok.io/recorder.html

Axe-core is flagging this page as requiring a way to bypass repeated blocks of content, which there clearly aren't any of. I don't know how we'd solve for it, but we should figure out some heuristic to turn this into a needs review if we're not sure.

[2020-09-19 06:37] cscrosati opened #2523 "Add Group role as supported required children element for ListBox role (1.2 specification update)"
The WAI-ARIA 1.2 spec adds the `group` role with options children as a supported required owned elements of `listbox` ([refer to the draft spec reference](https://www.w3.org/TR/wai-aria-1.2/#listbox)).

We leverage this implementation in our platform since it is the recommended way to emulate a `<select>` with `<optgroup>` grouping. ([refer to the W3C ListBox with grouped options sample](https://w

[2020-09-20 22:11] Bahadou-Badr commented on #1977
@ivan-aksamentov
F12 in the browser. then go to Settings.
look for Sources, and disable the option: "Enable javascript source maps"
![photo5998800772902531540](https://user-images.githubusercontent.com/70449988/93723449-7ad72980-fb53-11ea-97af-33447bae3b0a.png)

[2020-09-21 03:01] padmavemulapati commented on #2413
Placeholder is recognised as label and its passing when Placeholder has something even it is escape characters and failing when placeholder is not present or placeholder has no contents.
`<input id="target" placeholder="woohoo" />`
	`<input id="target" />`
	`<input id="target" placeholder="" />`
	`<input id="target" placeholder=" \t \n \r \t  \t\r\n " />`
![image](https://user-images.githubusercon

[2020-09-21 03:21] padmavemulapati commented on #2459
Link-name rule should pass if title present fail otherwise
![image](https://user-images.githubusercontent.com/47409579/93730759-a6a3ef00-fbe7-11ea-801c-eba88b861603.png)

[2020-09-21 03:54] padmavemulapati commented on #2012
aria-required-parent rule should fail when there is an intermediate role between the child and parent
`<div role="list"><div role="tabpanel"><p role="listitem" id="target">Nothing here.</p></div></div>`
aria-required-parent rule should pass when intermediate node is role=presentation
`<div role="list"><div role="presentation"><p role="listitem" id="target">Nothing here.</p></div></div>`
aria-requi

[2020-09-21 04:18] padmavemulapati commented on #2453
img-alt is failing and message is splitting according to the failure:
<img id="target" alt="Hello" />
	<img id="target" />
	<img id="target" alt=" " />
	<img id="target" alt=" \t \n \r \t  \t\r\n " />

![image](https://user-images.githubusercontent.com/47409579/93732590-a3acfc80-fbef-11ea-8cd8-7da3056afbc2.png)

![image](https://user-images.githubusercontent.com/47409579/93732527-66486f00-fbef-11e

[2020-09-21 04:28] padmavemulapati commented on #2451
if title is not defined or empty title - seperate messages should display
`<img id="target" title=" " />'
`<img id="target" />`
![image](https://user-images.githubusercontent.com/47409579/93732875-f2a76180-fbf0-11ea-97b6-8ac4ca169b57.png)

[2020-09-21 08:50] padmavemulapati commented on #2456
valid-lang is failing only when lang has whitespace value
test data: `<div id="target" lang=" ">hello</div>`

![image](https://user-images.githubusercontent.com/47409579/93748242-89861500-fc15-11ea-9595-a6280f466174.png)

[2020-09-21 09:08] padmavemulapati commented on #2461
No Aria attribute failure is seeing for table's data look for a parent grid  so the td is being resolved with a role of cell instead of gridcell. Hence results now we can see in the passes with appropriate message even.
![image](https://user-images.githubusercontent.com/47409579/93749705-fef2e500-fc17-11ea-8f32-b5669248462a.png)

[2020-09-21 09:22] padmavemulapati commented on #2513
with the change (along with menu, and menubar , group also added to role solved the false positive)
![image](https://user-images.githubusercontent.com/47409579/93750843-c5bb7480-fc19-11ea-844d-306df20e5084.png)

[2020-09-21 13:04] WilcoFiers opened #2524 "Objects should not allow fallback content"
The following should fail axe-core. Fallback content on objects is not used to compute an accessible name.

[code]

For details, see the discussion about this in the WCAG issues: https://github.com/w3c/wcag/issues/1138

[2020-09-21 13:34] WilcoFiers commented on #2523
Hey @cscrosati. ARIA 1.2 isn't stable yet. I definitely wouldn't use this in production code, as this could all still change.

I took at look at the example. We'd need to test this with AT, but my guess is this pattern doesn't work consistently. Definitely one problem with it is that presentational group name. Putting role=presentation on an li doesn't make the text node go away. It throws off the

[2020-09-21 13:36] WilcoFiers commented on #2519
Yes, we will work on it in the coming sprint. Thank you for reporting.

[2020-09-21 15:44] #2441 closed

[2020-09-22 03:56] mohanraj-r opened #2528 "audio, video elements cause timeout in jest even with audio/video rules disabled"
Expectation: audio, video elements are skipped processed when corresponding rules are disabled and tests do not timeout.

Actual: tests timeout even with audio/video rules disabled.

Motivation: support skipping of audio/video elements when axe is used with jest/jsdom.

<pre><code>
axe-core version: 4.0.2
jest: 26.4.2

Browser and Assistive Technology versions

For Tooling issues:
- Node version:

[2020-09-22 04:39] promiselaoliu commented on #991
Should "alertdialog" also be included?

return explicitRole === 'dialog' || landmarkRoles.includes(explicitRole);

[2020-09-22 20:37] mohanraj-r commented on #2528
Can you also please clarify the purpose of `preload`.

[API doc](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#preload-configuration-details) states "Any additional assets (eg: cssom) to preload before running rules."

But was `preload` incorporated for performance reasons? Where does the `preload` step sit in terms of DOM lifecycle and axe analyze action?

[2020-09-22 21:26] straker commented on #2528
The `preload` config is suppose to signal a rule that requires loading the CCSOM, and should only be part of  some experimental rules (`css-orientation-lock` and `no-autoplay-audio`). Unless you've turned on experimental rules I wouldn't expect you to run into preload issues.

[2020-09-22 21:56] mohanraj-r commented on #2528
Thanks @straker
What are the downsides to disabling preload ?
Would axe analyze perform slower when there are assets to be fetched ?

[2020-09-22 21:59] straker commented on #2528
Disabling preload should enable faster axe runs as it doesn't have to download all the CSS files and parse the CCSOM.

[2020-09-22 23:25] mohanraj-r commented on #2528
Thanks for the clarifications @straker
Will close the issue for now

[2020-09-22 23:25] #2528 closed

[2020-09-23 09:22] WilcoFiers opened #2529 "rerun integration test is flakey"
See: https://app.circleci.com/pipelines/github/dequelabs/axe-core/1188/workflows/6974fd5e-aac0-4bf5-b058-412f52d5d8f8/jobs/22089

This test failed on develop. No idea yet why, but when I reran the test it passed.

[2020-09-23 16:48] straker opened #2530 "axe.reset() does not reset branding"
If you configure axe with custom branding and then call `axe.reset()`, the custom branding is not reset.

[code]

[2020-09-24 02:43] dvlpr91 commented on #1977
same issue too

[2020-09-24 10:37] Saurabh39 commented on #1977
Hello...This is merely a warning.Go to Console..Setting..uncheack js & css map options

[2020-09-24 19:36] straker commented on #2513
No docs required

[2020-09-24 19:36] #2513 closed

[2020-09-24 19:37] straker commented on #2461
No docs required

[2020-09-24 19:37] #2461 closed

[2020-09-24 19:46] straker commented on #2456
No docs required

[2020-09-24 19:46] #2456 closed

[2020-09-24 19:50] straker commented on #2451
No docs required

[2020-09-24 19:50] #2451 closed

[2020-09-24 21:16] straker commented on #2453
No docs required

[2020-09-24 21:16] #2453 closed

[2020-09-24 21:16] straker commented on #2012
No docs required

[2020-09-24 21:16] #2012 closed

[2020-09-24 21:16] straker commented on #2459
No docs required

[2020-09-24 21:16] #2459 closed

[2020-09-24 21:17] straker commented on #2413
No docs required

[2020-09-24 21:17] #2413 closed

[2020-09-25 14:59] straker commented on #2452
No docs required

[2020-09-25 14:59] #2452 closed

[2020-09-25 15:18] straker commented on #2458
No docs required

[2020-09-25 15:18] #2458 closed

[2020-09-25 16:29] straker commented on #1935
@connorjclark thanks for the suggestion about the trei, was able to reduce that file to 2 kB gzipped https://github.com/dequelabs/axe-core/pull/2527.

[2020-09-27 05:05] marwindacallos opened #2533 "same here"
Expectation: << Describe what you expect the product to do >>

Actual: << Describe what the product actually does >>

Motivation: << Describe why you want the behavior to be changed >>

<pre><code>
axe-core version: X.Y.Z
axe-webdriver, extension or other integration version: X.Y.Z

Browser and Assistive Technology versions

For Tooling issues:
- Node version: XX
- Platform:
</code></pre>

[2020-09-27 05:06] #2533 closed

[2020-09-28 15:10] #2454 closed

[2020-09-28 17:05] straker commented on #2357
Note: I tried switching to terser and didn't see any improvement to our minified / gzip file size using the same options as uglify.

[2020-09-30 15:05] WilcoFiers commented on #2089
Deque a11y experts reviewed this and have concluded this should be a failure, for the reason I explained above. We should create a custom failure message to clarify why this is failing though.

[2020-10-01 03:04] JustSlone opened #2535 "aria-required-children violation for seemingly valid use of group role in menu/menubar"
Hey folks, it looks like in version 4.0.0 the update to the aria-required-children rule fixing (I think) this issue: #2076 caused the following structure to be invalid:

[code]
Repro: https://codepen.io/justslone-the-encoder/pen/KKzLLrz?editors=1111
[gist of HTML for convenience](https://gistpreview.github.io/?66ccb25097b58e80ac4f2f5a053f5a04)

I'm not sure this was an intended consequence of the

[2020-10-01 15:41] straker commented on #2530
I think the best solution is to set the `brand`, `application`, and `tagExclude` (also doesn't get reset) in the [_init](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/audit.js#L294) function back to their [original values](https://github.com/dequelabs/axe-core/blob/develop/lib/core/base/audit.js#L153-L155).

We'll also need to add tests to the [resetRulesAndChecks](https://githu

[2020-10-01 19:43] straker commented on #2340
Closed via comments in #2521

[2020-10-01 19:43] #2340 closed

[2020-10-02 00:39] Bracciata commented on #2530
I am working on this now. As a fan of Axe super excited to tackle this issue.

[2020-10-02 22:52] ninatktran commented on #2289
Hi,

I am having the same issue with a specific website, which is https://www.dotincorp.com/ and my internet browser is Chrome. However, I used another accessibility tool, Lighthouse, which works okay, but the results came out weird. Can you look into that? Thank you!

[2020-10-03 06:29] shankarshastri commented on #2514
@straker , I can take a look at this one !!

[2020-10-03 22:38] Jehoel opened #2538 "Rule proposal: BP: Pages should not make scrolling UI inaccessible or difficult to use"
(Ported over from https://github.com/GoogleChrome/lighthouse/issues/11292 )

(This rule proposal does not match the standard prescriptive format for other `act-rules` because I'm unfamiliar with Deque System's process for reviewing and approving rules, and I didn't want to spend a lot of time and effort into a proposal that might get rejected early - and because it's difficult for me to express th

[2020-10-04 23:19] Loganras commented on #1792
If it's not already being worked on, I think I'll give this one a shot.

[2020-10-05 03:44] padmavemulapati commented on #2284
Verified new best-practice rule: presentation-role-conflict with axe-core4.0.2 latest code:
1. When the rule passes:
it passes with `<div id="pass1" role="presentation">Test</div>` and `<div id="pass2" role="presentation">Test Button</div>`
![image](https://user-images.githubusercontent.com/47409579/95037897-3cf90a00-06ea-11eb-9a50-70eba02b494f.png)
and the details about the pass condition:
![imag

[2020-10-05 12:13] timmybytes commented on #2107
Hey there! I'm trying to gain more experience with accessibility, and I'd love to work on this issue!

[2020-10-05 13:42] padmavemulapati commented on #2524
Verified with the test content
Pass criteria:
 `<object id="pass1" title="This object has text"></object>` ,
`<object id="pass2" aria-label="this object has text"></object>` ,
and failure:
	`<object id="violation1"></object>` ,
 `<object id="violation2"><div></div></object>` and
	`<object id="violation3">This object has text.</object>`
not allowing fallback content on the data , properly pass and

[2020-10-05 15:30] straker commented on #2514
Awesome. Let me know if you need anything.

[2020-10-05 15:30] straker commented on #1792
All yours. Let me know if you need anything.

[2020-10-05 15:32] straker commented on #2107
All yours. Let me know if you need anything.

[2020-10-05 15:36] straker commented on #2107
PS. I find running the following script while the WCAG 1.2 spec is open helps seeing which ARIA attributes to add to the `requiredAttrs` and `allowedAttrs` properties by hiding any global ones:

[code]

[2020-10-05 18:15] shankarshastri commented on #2514
I went ahead with the approach you suggested above, by changing
```switch ((vNode.attr('type') || '').toLowerCase()) { ``` to
```switch ((vNode.props.type || '').toLowerCase()) {```

@straker , Any thoughts on how I can test the change?

[2020-10-05 19:22] straker commented on #2514
Yep, we have a test file for [implicit roles](https://github.com/dequelabs/axe-core/blob/develop/test/commons/aria/implicit-role.js) that you can make sure an invalid input type returns as `textbox`

[2020-10-05 22:09] emendezsolis opened #2540 "Rename a saved test"
Hi,

I could not find a way to rename a saved test. I think it would be very useful to have this functionality as sometimes you need to reorganize your saved tests - and renaming them would be a way to accomplish this task.

Thanks.

Expectation: << Describe what you expect the product to do >>

Actual: << Describe what the product actually does >>

Motivation: << Describe why you want the behavio

[2020-10-06 05:55] iamrafan opened #2541 "False positive: "Color-contrast" rule fails when using particular text-shadow values"
```color-contrast``` rule fails when an element has text-shadow values as mentioned in Case-1 in the example.

Demo link: https://codepen.io/iamrafan/pen/abNevdV?editors=1100

<pre><code>axe-core version: 4.0.2
axe version: 4.6.1</code></pre>

[2020-10-06 07:21] padmavemulapati commented on #1618
With Cypress - axe.run()
`injectAxe();
  injectIframes();
  cy.window({ log: false }).then(async (win: Window) => {
    const { includedImpacts, ...axeOptions } = options || {};
    win.axe.configure({ branding: { application: 'cypress' } });
    const results: axe.AxeResults = await win.axe.run(
      context || win.document,
      axeOptions
    );` we were able to run the above mentioned rules

[2020-10-06 07:25] WilcoFiers commented on #2540
Thanks for reporting. I'm forwarding the request to the right person.

[2020-10-06 13:42] padmavemulapati commented on #2530
axe.reset() is resetting : Verified on latest axe-core 4.0.2.
![Uploading image.png…]()

[2020-10-06 17:44] #2284 closed

[2020-10-06 17:45] #1618 closed

[2020-10-06 17:45] #2530 closed

[2020-10-06 21:42] jferragut commented on #2483
This is also present on our company website: [Alkemy](https://www.alkemydev.com)

**Reproduction:**
- Test Mobile in lighthouse
- Accessibility fails

**Screenshot:**
<img width="1680" alt="Screen Shot 2020-10-06 at 5 41 35 PM" src="https://user-images.githubusercontent.com/31458614/95263033-3312fc00-07fb-11eb-84f7-b4f890154779.png">

[2020-10-07 13:31] nova93 opened #2543 "rule: document-title not detecting inside <head>"
Expectation: rule ID document-title should detect <title></title> inside `<head></head>`

Actual: Throws a warning

Motivation: Align usage with MDN docs on title tag (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title) and Lighthouse (https://web.dev/document-title/), both say that <title> should be used inside `<head>`.

<pre><code>
@axe-core/react: 4.0.0

Browser and Assistive Tech

[2020-10-07 14:22] straker commented on #2543
Interesting. Are you able to give me a link to the page that throws the error or maybe a code snippet that shows the error? The rule should detect the title element correctly.

[2020-10-07 20:31] michael-siek commented on #2479
See: https://www.chase.com/content/dam/chaseonline/en/demos/cbo/launch.html slow due to queryselectorall for every element ancestor looking for arialabelledby id

[2020-10-07 21:52] straker commented on #2502
Tested this in:

* Safari/VO
* IE11/JAWS
* Chrome/JAWS
* Firefox/NVDA

and all report the image as "blank" but not as an image element (just as in a newline character or empty tag). Thus this isn't an accessibility problem.

[2020-10-07 21:52] #2502 closed

[2020-10-08 16:57] straker commented on #2329
Talked with Wilco, we're going to close this issue as a user testing the entire page will either see incomplete for color-contrast (the modal is on top) or failures underneath (the modal is `positioned: fixed` so we treat it as not there). If the user really wants to test just the modal they can use the modal as the context instead of the full page.

@stevekeator For your issue, would you mind ope

[2020-10-08 16:57] #2329 closed

[2020-10-08 19:37] nova93 commented on #2543
Unfortunately, the project is behind a VPN. I'm trying to replicate this issue on a public repo, and will report back once successful.

[2020-10-09 02:55] imccausl commented on #2460
I'd like to give this one a shot 🙂

[2020-10-09 08:59] WilcoFiers commented on #2543
@nova93 Browsers take the first `title` element in the page as the document title, irrespective of where it is in the page. Axe-core follows this behavior. You are correct that the HTML specification says it needs to be in the head, you're also only allowed to have one `title` element according, but neither of those are really accessibility issues, so it is not something axe-core flags.

[2020-10-09 09:53] WilcoFiers commented on #2421
Leaving off marque for now. I don't quite see why it requires an accessible name. Opened an issue with the ARIA WG for it: https://github.com/w3c/aria/issues/1339

[2020-10-09 10:05] eps1lon commented on #2421
@WilcoFiers Could you clarify whether you still want to group the rules by concept and what kind of message you would display in `aria-structure-name` considering that `heading` can be named by content but `tree` can't?

[2020-10-09 14:43] straker commented on #2460
Sounds good. Let me know if you need anything.

[2020-10-09 15:07] #2514 closed

[2020-10-09 21:54] mike-strauch commented on #1167
Any tips on getting axe-core to run on AWS Lambda (with nodeJS 12)?   I'm hung up on figuring out a way to provide a valid `window` object.

[2020-10-11 15:25] whygithub7 commented on #1981
i call chrome.tabs.getCurrent() from content script , but i  get  "Cannot read property 'getCurrent' of undefined" from content.
Where i can use this method ?  in content script and in background its not work

[2020-10-12 05:56] LakshmiNagandla opened #2551 "Getting java.lang.RuntimeException: Error when removing sandbox from iframes in Selenium with java"
Software dependency versions used:

com.deque.html.axe-core : 4.0.0

Calling methods:

When we call the method : Results result = builder.withoutIframeSandboxes().analyze(driver)

and

Results result = builder.analyze(driver)

Error that we are getting:

"java.lang.RuntimeException: Error when removing sandbox from iframes"

Note: For few of the other applications, the Analyzer method is working a

[2020-10-12 08:14] nova93 commented on #2543
I think I know what might be causing it.

The whole app is protected (behind a password), and every route has `withAuthentication` HOC, however, the metadata is added at the page level. Since adding `<Head>` from `next/head` doesn't cause a re-render, it's not being picked up. While playing around I've found a moment where <head> didn't have <title> tag, and axe-core warnings were visible. If I wa

[2020-10-12 14:02] imccausl opened #2552 "aria-errormessage check fails in valid case when aria-live is off and aria-invalid is false"
The `aria-errormessage` check will fail in a valid case such as the following (taken from https://www.w3.org/TR/2017/REC-wai-aria-1.1-20171214/#aria-errormessage)
[code]
Here, the check will fail because `aria-live` is not set to a value of `assertive` on the element referenced by `aria-errormessage`, although it is technically valid for `aria-live` to be `off` when `aria-invalid` is `false`.

Exp

[2020-10-13 15:22] straker opened #2553 "commons/table/to-grid does not account for rowspan=0"
Noticed this while working on https://github.com/dequelabs/axe-core/pull/2545. According to [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td#attr-rowspan), `rowspan=0` means the row spans to the end of the table (tested in Chrome).

Our `get-headers` code will also need to be adjusted to handle rospawn of 0.

[2020-10-13 19:20] WilcoFiers opened #2554 "Some rules are missing a category tag"
**Expectation**: All rules have a category (`cat:*`) tag

**Actual**: Some rules, such as aria-toggle-field-name do not

The easiest place to see missing tags is to look at the `docs/rule-description.md` file. In addition to adding these tags, we should add a test to `build/tasks/validate.js` to enforce that all rules have a category tag.

[2020-10-13 20:08] WilcoFiers commented on #2421
@eps1lon Thanks for checking back in. You are right, heading doesn't work in aria-structure-map because it is named from content, so it's probably best just left where it is. We'll leave that out in the empty-headings rule. The rest of those roles aren't named from content, so they can be grouped together.